<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: white;
        color: red;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>
{% extends 'logged_in_base.html' %}

{%block contents%}
<b>Logging -> View logs</b> <br><br>


{% if err_code == -1 %}
No log file name specified
{%elif err_code == -2 %}
Could not open log file
{%endif%}
{% for line in log_contents%}
{{line}}<br>
{%endfor%}

{% if err_code == 0 %}
<form action="/view_log/{{vol_name}}/{{next_start}}/{{num_lines}}" method="POST">
<input type="submit" value="View next {{num_lines}} lines>>">
</form>
{% endif %}

<a href="/download



{%endblock%}
{%block help_header%}
Change password help
{%endblock%}
{%block help_body%}
<p>Help about changing password…</p>
{%endblock%}
