{% extends 'logged_in_base.html' %}


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{%block page-header%}
  Admin
  <small>
      Admin
      <i class="fa fa-angle-double-right smaller-80"></i>
      Scan for new GRIDCells
  </small>
{%endblock%}


{%block contents%}

{% if no_new_nodes %}
The hardware scan did not detect any new GRIDCells.
{%else%}
  {%include 'add_hardware_form.html'%}
{%endif%}

{%endblock%}
{%block help_header%}
Scan for new hardware help
{%endblock%}
{%block help_body%}
<p>Help about scanning for new hardware…</p>
{%endblock%}

