{% extends 'logged_in_base.html' %}


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{%block page-header%}
  GRIDCells
  <br /><small>
      GRIDCells
      <i class="fa fa-angle-double-right smaller-80"></i>
      Scan for new GRIDCells
  </small>
{%endblock%}


{%block contents%}

{% if no_new_nodes %}
The hardware scan did not detect any new GRIDCells.
{%else%}
  {%include 'add_hardware_form.html'%}
{%endif%}

{%endblock%}
{%block help_header%}
Scan for new hardware help
{%endblock%}
{%block help_body%}
<p>This screen results of scanning the network for new GRIDCells that are not yet a part of the grid.</p>
<p>If any new GRIDCells are found and displayed on this screen then you may select the ones that you want to add to the grid. The unselected ones may then be subsequently added at any later point in time by scanning for new GRIDCells. You could use this as a way to keep some GRIDCells as standby in case of any failures.</p>
<p> If you find that a particular unused/new GRIDCell is not showing up on this screen then please ensure that it is powered on and connected to the network before running this process again.</p> 
{%endblock%}

