{% extends 'volume_base.html' %}
{%block tab_header%}
    Batch process - result
{%endblock%}

{%block inside_content %}
<br><br>
<p>
A background process has been scheduled and will be started soon to carry out the requested task. <p>Click <a href="/show/batch_status_details/{{fname}}">here </a> to view the status of this process. </p>
<p>The status of all such background processes can be viewed <a href="/show/batch_status"> here</a> or from the "Other services -> Background processes" status menu item.
</p>

{%endblock%}

{%block help_header%}
Batch process confirmation help
{%endblock%}
{%block help_body%}
  <p>Batch processes are initiated for operations that are not immediate and may involve large data movement. These processes are scheduled from IntegralView and a backend process will initiate the job within a minute. This is just a confirmation that the process has been scheduled for initiation.</p>
{%endblock%}
{% block tab_active %}
  <script>
    make_tab_active('volume_background_tab')
  </script>
{% endblock %}
