{% extends 'volume_base.html' %}

{%block tab_header%}
  Create a directory within a volume
{%endblock%}

{%block inside_content %}

  <form class="form-horizontal" role="form" name="create_form" action="" method="post">
    {{form.vol_name}}
    {{form.path}}
    <table  class="table " style="width:90%">
      <tr>
        <td> <label >Volume name :</label> </td> 
        <td> {{form.vol_name.value}}</td>
        <td> &nbsp; </td>
      </tr>
      <tr>
        <td> <label >Parent directory in volume :</label> </td> 
        <td> {{form.path.value}}</td>
        <td> &nbsp; </td>
      </tr>
      <tr>
        <td> <label for="id_dir_name">New directory name :</label> </td> 
        <td> <input type="text"  name="dir_name" class="form-control" id="id_dir_name" placeholder="Name of the directory that you want to create"> </td>
        <td> {{ form.dir_name.errors }} </td>
      </tr>

    </table>
    <div class="btn-group btn-group-sm " >
      <a href="/view_volume?vol_name={{form.vol_name.value}}" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary cover-page" > Create</button>
  </form>

{%endblock%}

{%block help_header%}
  Create a directory within a volume
{%endblock%}

{%block help_body%}
  <p>Use this screen to browse a volume and create a directory at any point in the directory tree.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active('view_volumes_tab')
  </script>
{% endblock %}
