{% extends 'shares_and_targets_base.html' %}

{%block tab_header%}
  Create a Windows share
{%endblock%}

{%block inside_content%}

  <form class="form-horizontal" id="create_form" role="form" name="create_form" action="" method="post">
    <h5>Share path selection</h5>
    <table  class="table " style="width:90%">
      {%include "vol_dir_select.html"%}
      <tr>
        <td> <label for="id_new_dir_name">Create a new subdirectory :</label> </td>
        <td>
          <input id="id_new_dir_name" name="new_dir_name" placeholder="Enter the name of a new subdirectory to be created if desired." class="form-control" >
        </td>
        <td> {{ form.new_dir_name.errors }} </td>
      </tr>
    </table>
    If a new subdirectory is created using the above field, the new share will point to this newly created subdirectory.
    <hr>
    <h5>Share properties</h5>
    <table  class="table " style="width:90%">
      <tr>
        <td> <label for="id_name">Share name:</label> </td>
        <td>
          <input type="text"  name="name" class="form-control" id="id_name" placeholder="Share name" value={{form.name.value|default_if_none:""}}> 
        </td>
        <td> {{ form.name.errors }} </td>
      </tr>
      <tr>
        <td> <label for="id_readonly">Readonly:</label> </td>
        <td> {{ form.read_only }} </td>
        <td> {{ form.read_only.errors }} </td>
      </tr>
      <tr>
        <td> <label for="id_browseable">Visible:</label> </td>
        <td> {{ form.browseable }} </td>
        <td> {{ form.browseable.errors }} </td>
      </tr>
      <tr>
        <td> <label for="id_guest_ok">Accessible to all(guest ok):</label> </td>
        <td> {{ form.guest_ok }} </td>
        <td> {{ form.guest_ok.errors }} </td>
      </tr>
      <tr>
        <td> <label for="id_users">Permitted users:</label> </td>
        <td>
          {% for choice in form.users.field.choices %} 
            <div class="radio" >
              <input type="checkbox" name="users" id="{{choice.0}}" value="{{choice.0}}" {%if choice.0 in form.initial.users %} checked="checked"{%endif%}> {{choice.0}}
            </div>
          {%endfor%}
        </td>
        <td> {{ form.users.errors }} </td>
      </tr>
      <tr>
        <td> <label for="id_groups">Permitted groups:</label> </td>
        <td>
          {% for choice in form.groups.field.choices %} 
            <div class="radio" >
              <input type="radio" name="groups" id="id_users" value="{{choice.0}}" {%if choice.0 in form.initial.groups %} checked="checked"{%endif%}>{{choice.0}}
            </div>
          {%endfor%}
        </td>
        <td> {{ form.groups.errors }} </td>
      </tr>
    </table>
    <div class="btn-group btn-group-sm " >
      <a href="/view_cifs_shares" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary " id="id_create_share"> Create </button>
    </div>
  </form>

  <script type="text/javascript">
    var selected_path = ""
    function path_selected(vol_name,path, final_path){
      selected_path = path;
    } 
    $("#id_create_share").click(function(){
      if (selected_path != "") {
        document.getElementById("create_form").submit();
      } else {
        alert("Please first select a share path");
        return false;
      }
    });
    function set_select_field_disabled(f, val) {
      for(var i = 0; i < f.length; i++)
        f[i].disabled = val
    }
    $("form input[name='guest_ok']").click(function () { 
      if (document.forms["create_form"].elements["guest_ok"].checked) {
        set_select_field_disabled(document.getElementsByName('users'), true);
        set_select_field_disabled(document.getElementsByName('groups'), true);
      } else {
        set_select_field_disabled(document.getElementsByName('users'),false);
        set_select_field_disabled(document.getElementsByName('groups'), false);
      }
    });
    $(window).load(function() {
      document.forms["create_form"].elements["guest_ok"].checked = false;
      set_select_field_disabled(document.getElementsByName('users'),false);
      set_select_field_disabled(document.getElementsByName('groups'), false);
    });
  </script>

  </script>

{%endblock%}

{%block help_header%}
  Create share help
{%endblock%}

{%block help_body%}
  <p>Shares are used to provide access to a certain directory within a certain volume to end users. Shares are used only for CIFS access. Users accessing the system via NFS can directly mount the directory within the volume using NFS mount points.</p>
  <p>You can set various options on shares : </p>
  <ul>
  <li> Share name : This is the name which will show up on Windows systems when you browse to the network storage.</li>
  <li>Volume name : The IntegralStor volume which contains the directory being exported through this share.</li>
  <li>Directory : The directory under the selected volume which is to be exported as the share. You can the browse button to select the directory. If you want to create a new directory under the volume to export, then please use the Create a directory option and then use this screen to create a share for that directory. </li>
  <li>Description : An explanatory note for the administrator's use.</li>
  <li>Read only : Setting this prevents all changes to files within this share.</li>
  <li>Browseable : Setting this will result in this share being displayed when someone browses the IntegralStor storage.</li>
  <li>Guest ok : Setting this will allow anyone to view and make changes to the contents of this share.</li>
  <li>Permitted users : The list of users who have access to this share. If the authentication method is set to Active Directory then this list is pulled from Active Directory itself. If the authentication method is set to Local Users then this list is pulled from the list of local users created on IntegralView. </li>
  <li>Permitted groups : The list of groups who have access to this share. If the authentication method is set to Active Directory then this list is pulled from Active Directory itself. </li>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active('view_cifs_shares_tab')
  </script>
{% endblock %}

