{% extends 'logged_in_base.html' %}

{%block page-header%}
  ISCSI Access
  <br /><small>
      ISCSI Access 
      <i class="fa fa-angle-double-right smaller-80"></i>
      Authorized Access Group 
      <i class="fa fa-angle-double-right smaller-80"></i>
      Delete Authorized Access Group
  </small>
{%endblock%}

{%block contents%}

<p id="p-warning-text">Are you sure you want to delete the authorized access user with id {{user_id}} (user {{user}} {% if peer_user %}peer user ({{peer_user}}{%endif%})? </p>
<br>
<form action="/iscsi_delete_auth_access_user/" method="POST">
<input type=hidden name="user_id" value="{{user_id}}">
<input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/iscsi_display_auth_access_group_list'"> &nbsp;&nbsp;
<button type="submit" class="btn btn-primary cover-page">Confirm and delete</button>
</form>





{%endblock%}
{%block help_header%}
ISCSI authorized access group delete conf help
{%endblock%}
{%block help_body%}
<p>Help about ISCSI authorized access group delete conf - needs customisation…</p>
{%endblock%}
