{% extends 'users_base.html' %}

{%block tab_header%}
  Delete local user "{{userid}}" - confirmation
{%endblock%}

{%block inside_content %}

  <p id="p-warning-text">Are you sure you want to delete the local user "{{userid}}"? </p>
  <br>
  <form action="/delete_local_user/" method="POST">
    <input type=hidden name="userid" value="{{userid}}">
    <div class="btn-group btn-group-sm " >
      <input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/view_local_users'"> &nbsp;&nbsp;
      <button type="submit" class="btn btn-danger cover-page">Confirm and delete </button>
    </div>
  </form>

{%endblock%}

{%block help_header%}
  Deleting local users.
{%endblock%}

{%block help_body%}
  <p>Confirming this operation results in a local user of the IntegralStor system being deleted.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active('local_user_tab')
  </script>
{% endblock %}

