{% extends 'volume_base.html' %}

{%block tab_header %}
  Disable volume quota for volume "{{vol_name}}" - confirmation
{%endblock%}

{% block inside_content %}


  <p id="p-warning-text">
    Disabling quota will delete all the quota configuration. Are you sure you want to disable all quotas form volume "{{vol_name}}"? 
  </p>
  <br>
  <form action="/change_quota_status/" method="POST">
    <input type=hidden name="vol_name" value="{{vol_name}}">
    <input type=hidden name="action" value="{{action}}">
    <div class="btn-group btn-group-sm " >
      <input type="button" class="btn btn-default btn-sm" value="Cancel" onClick="window.location='/view_volume?vol_name={{vol_name}}'"> &nbsp;&nbsp;
      <button type="submit" class="btn btn-danger btn-sm cover-page" >Confirm and disable</button>
    </div>
  </form>

{%endblock%}

{%block help_header%}
  Disable all quotas for a volume
{%endblock%}

{%block help_body%}
  <p>Confirming this operation results in all quotas being disabled for specified volume. Please ensure that this is actually intended before continuing.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active('view_volumes_tab')
  </script>
{% endblock %}
