{% extends 'log_base.html' %}

{%block tab_header%}
  Download system logs
{%endblock%}

{%block inside_content%}

  <p id="p-instruction-text"> The requested log will be fetched as a zip file which you can save on your computer.</p>
  <form name="myform"  method="post">
    <table class="table">
      <tr>
        <td>
          <label for="id_hostname" >GRIDCell name :</label>
        </td>
        <td>
          <select name="hostname" class="form-control">
            {% for choice in form.hostname.field.choices %} 
              <option value="{{choice.0}}">{{choice.1}}</option>
            {%endfor%}
          </select>
        </td>
        <td>
          {{ form.hostname.errors }}
        </td>
      </tr>
      <tr>
        <td>
          <label for="id_sys_log_type" >System log type :</label>
        </td>
        <td>
          <select name="sys_log_type" class="form-control">
            {% for choice in form.sys_log_type.field.choices %} 
              <option value="{{choice.0}}">{{choice.1}}</option>
            {%endfor%}
          </select>
        </td>
        <td>
          {{ form.sys_log_type.errors }}
        </td>
      </tr>
    </table>
    <button type="submit" id="download_logs" class="btn btn-default cover-page btn-sm"><i class="fa fa-download fa-fw"></i>&nbsp;Download</button>
  </form>
  <script>
    $("#download_logs").on('click',function(){
      $(this).text("Processing");
      setInterval(function(){
        $("#download_logs").text('Download');
        $('.lightbox').hide();
      },10000);
    });
  </script>

{%endblock%}

{%block help_header%}
  Download system logs
{%endblock%}

{%block help_body%}
  <p>System logs help in tracking down potential issues in each GRIDCell. These logs are specific to the GRIDCell so you need to select the particular GRIDCell and log type before downloading it. The logs will be downloaded onto your system in the form of a compressed ZIP file.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active('download_system_logs_tab')
  </script>
{% endblock %}

