{% extends 'admin_base.html' %}

{%block tab_header%}
  Download system configuration
{%endblock%}

{%block inside_content%}
<br><br>

<p id="p-instruction-text"> The requested configuration will be fetched as a zip file which you can save on your computer.</p>
<form name="myform"  action="" method="post">
<div  style=" position:relative;border:0px solid #DDDDDD;width:500px; padding:15px 15px 15px;margin:0px 15px;border-radius:4px 4px 0px 0px">
  <button type="submit" class="btn btn-success">Download</button>
</div>
</form>

{%endblock%}
{%block help_header%}
Download system configuration
{%endblock%}
{%block help_body%}
<p>Periodically downloading and saving the system configuration helps in tracking down potential issues in the grid or when there are major issues. The configuration will be downloaded onto your system in the form of a compressed ZIP file.</p>
{%endblock%}
{% block tab_active %}
  <script>
    make_tab_active('download_config_tab')
  </script>
{% endblock %}

