{% extends 'logged_in_base.html' %}


{%block contents%}
<span id="topic-text">ISCSI access-> View target -> View target details (Edit)</span><br>

{{conf_message}}

<form id="edit_form" name="edit_form" action="" method="post">
<input name="id" type="hidden" value="{{ form.initial.id}}">
<input name="vol_name" type="hidden" value="{{ form.initial.vol_name}}">
<div  style=" position:relative;border:0px solid #DDDDDD;width:600px; padding:15px 15px 15px;margin:0px 15px;border-radius:4px 4px 0px 0px">
  <div class="form-group" >
    <label for="id_vol_name">Volume name: </label>
    {{form.initial.vol_name}}
  </div>
<!--
  <div class="form-group" >
    <label for="id_target_name" >Target name:</label>
    <input type="text"  name="target_name" class="form-control" id="id_target_name" value="{{form.initial.target_name}}" placeholder="Enter target name"> 
    {{ form.target_name.errors }}
  </div>
-->
  <div class="form-group" >
    <label for="id_target_alias" >Target alias:</label>
    <input type="text"  name="target_alias" class="form-control" id="id_target_alias" value="{{form.initial.target_alias}}" placeholder="Enter target alias"> 
    {{ form.target_alias.errors }}
  </div>
  <div class="form-group" >
    <label for="id_lun_size" >LUN size (in GB):</label>
    <input type="text"  name="lun_size" class="form-control" id="id_lun_size" value="{{form.initial.lun_size}}" placeholder="Enter size of LUN in GB"> 
    {{ form.lun_size.errors }}
  </div>
  <!--
  <div class="form-group" >
    <label for="id_target_flags">Target access mode: </label>
    <select id="id_target_flags" name="target_flags" class="form-control" >
    {% for choice in form.target_flags.field.choices %} 
          <option value="{{choice.0}}" {%if choice.0 == form.initial.target_flags %} selected{%endif%} >{{choice.1}}</option>
    {%endfor%}
    </select>
    {{ form.target_flags.errors }}
  </div>
  -->
  <div class="form-group" >
    <label for="id_auth_method">Auth method: </label>
    <select id="id_auth_method" name="auth_method" class="form-control" >
    {% for choice in form.auth_method.field.choices %} 
          <option value="{{choice.0}}" {%if choice.0 == form.initial.auth_method %} selected{%endif%} >{{choice.1}}</option>
    {%endfor%}
    </select>
    {{ form.auth_method.errors }}
  </div>
  <div class="form-group" >
    <label for="id_init_group_id">Initiator group: </label>
    <select id="id_init_group_id" name="init_group_id" class="form-control" onChange="display_initiator_info('id_init_group_id', 'id_init_group_info');">
    {% for choice in form.init_group_id.field.choices %} 
          <option value="{{choice.0}}" {%if choice.0 == form.initial.init_group_id %} selected{%endif%} >{{choice.1}}</option>
    {%endfor%}
    </select>
    {{ form.init_group_id.errors }}
  </div>
  <div id="id_init_group_info" style="display:block" class="alert alert-info">
  </div>
  <div class="form-group" >
    <label for="id_auth_group_id">Auth access group: </label>
    <select id="id_auth_group_id" name="auth_group_id" class="form-control" onChange="display_access_info('id_auth_group_id', 'id_auth_group_info');">
    {% for choice in form.auth_group_id.field.choices %} 
          <option value="{{choice.0}}" {%if choice.0 == form.initial.auth_group_id %} selected{%endif%} >{{choice.1}}</option>
    {%endfor%}
    </select>
    {{ form.auth_group_id.errors }}
  </div>
  <div id="id_auth_group_info" style="display:block" class="alert alert-info">
  </div>
  <div class="form-group" >
    <label for="id_queue_depth" >Queue depth :</label>
    <input type="text"  name="queue_depth" class="form-control" id="id_queue_depth" value="{{form.initial.queue_depth}}" placeholder="Enter Queue depth"> 
    {{ form.queue_depth.errors }}
  </div>
<!--
  <div class="form-group" >
    <label for="id_block_size" >Block size:</label>
    <input type="text"  name="block_size" class="form-control" id="id_block_size" value="{{form.initial.block_size}}" placeholder="Enter block size"> 
    {{ form.block_size.errors }}
  </div>
-->
</div>

  <a href="/iscsi_view_target?access_mode=by_id&id={{form.initial.id}}" role="button" class="btn btn-default"> Cancel</a>&nbsp;&nbsp;
  <button type="submit" class="btn btn-primary cover-page">Save </button>
</form>
<script type="text/javascript">
function display_initiator_info(select_id, div_id) {
  var e = document.getElementById(select_id);
  var v= e.options[e.selectedIndex].value;
  var path = '/show/iscsi_initiator_info?id='+v;
  $.ajax({
    type: "GET",
    url: path,
    data: "id=" + v, // appears as $_GET['id'] @ ur backend side
    success: function(data) {
          // data is ur summary
         $('#'+div_id).html(data);
    }
  });
}
function display_access_info(select_id, div_id) {
  var e = document.getElementById(select_id);
  var v= e.options[e.selectedIndex].value;
  var path = '/show/iscsi_auth_access_info?id='+v;
  $.ajax({
    type: "GET",
    url: path,
    data: "id=" + v, // appears as $_GET['id'] @ ur backend side
    success: function(data) {
          // data is ur summary
         $('#'+div_id).html(data);
    }
  });
}
$(window).load(function() {
  // Handler for .load() called.
    //alert("loaded");
    display_access_info('id_auth_group_id', 'id_auth_group_info'); 
    display_initiator_info('id_init_group_id', 'id_init_group_info'); 
  });
</script>

{%endblock%}
{%block help_header%}
Edit target help
{%endblock%}
{%block help_body%}
<p>Help about editing target info…</p>
{%endblock%}
