{% extends 'volume_base.html' %}


{%block tab_header%}
  Set volume directory quota 
{%endblock%}

{%block inside_content %}
<br><br>
{{conf_message}}
<form id="edit_form" class="form-inline" name="edit_form" action="/set_dir_quota/" method="post">
<input name="vol_name" type="hidden" value="{{ form.vol_name.value }}">
{%if form.initial.dir %}
  <input name="dir" type="hidden" value="{{ form.dir.value }}">
{%endif%}
<div  style=" position:relative;border:0px solid #DDDDDD;width:600px; padding:15px 15px 15px;margin:0px 15px;border-radius:4px 4px 0px 0px">
  <label >Volume :</label> {{form.vol_name.value}} </br>
  {%if form.initial.dir %}
    <label >Directory in volume  :</label> {{form.initial.dir}} </br>
  {%else%}
    <div class="form-group" >
      <input type="text"  name="path" class="form-control" id="id_path" placeholder="Click the Browse button to choose a directory.." disabled> 
       <button type="button" class="btn btn-info" onClick="displayTree();return false;"> Browse..</button>
       <div id="pathdiv" style="display:inline">
       </div>
    </div>
    <div class="form-group" >
      <label for="id_final_path" >Final Directory Path :</label>
      <input type="text"  class="form-control" id="id_final_path" value="{{form.initial.dir}}" readonly> <br/>
      <input type="text"  name="dir" class="form-control" id="id_dir" value="{{form.initial.dir}}" placeholder="Enter directory within volume" style="display:none;" readonly><br/>
    {{ form.dir.errors }}
    </div>
  {%endif%}
  <div class="form-group" >
    <label for="id_limit" >Quota limit:</label>
    <input type="text"  name="limit" class="form-control" id="id_limit" value="{{form.initial.limit}}" placeholder=""> 
    <select id="id_unit" name="unit" class="form-control" onChange="display_access_info('id_discovery_auth_group', 'id_discovery_auth_group_info');">
    
    {% for choice in form.unit.field.choices %} 
          <option value="{{choice.0}}" {%if choice.0 == form.initial.unit %} selected{%endif%} >{{choice.0}}</option>
    {%endfor%}
    </select>
    {{ form.limit.errors }}
  </div>
  <br><br>
        <input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/show/volume_info/{{form.vol_name.value}}'"> &nbsp;&nbsp;
        <button type="submit" class="btn btn-primary cover-page">Save</button>
</div>
</form>
<script type="text/javascript">
function set_select_field_disabled(f, val) {
  f.disabled = val
}
function set_field_disabled(f, val) {
  f.disabled = val;
}
$("form input[name='set_quota']").click(function () { 
    // Handle the click event here
    //alert("clicked");
    if (document.forms["edit_form"].elements["set_quota"].checked) {
      set_field_disabled(document.forms["edit_form"].elements["limit"], false);
      set_select_field_disabled(document.forms["edit_form"].elements["unit"], false);
    } else {
      set_select_field_disabled(document.forms["edit_form"].elements["unit"], true);
      set_field_disabled(document.forms["edit_form"].elements["limit"], true);
    }
    });
$(window).load(function() {
  // Handler for .load() called.
    //alert("loaded");
    //alert(document.forms["edit_form"].elements["set_quota"].checked);
    if (document.forms["edit_form"].elements["set_quota"].checked) {
      set_field_disabled(document.forms["edit_form"].elements["limit"], false);
      set_select_field_disabled(document.forms["edit_form"].elements["unit"], false);
    } else {
      set_select_field_disabled(document.forms["edit_form"].elements["unit"], true);
      set_field_disabled(document.forms["edit_form"].elements["limit"], true);
    }
  });
</script>

  <script src="/static/jstree/dist/jstree.js"></script>
  <script>
  function displayTree() {
      document.getElementById("pathdiv").style.display = "block";
      $('#pathdiv').jstree({ 'core' : {
        'multiple':false,
        'data' : {
          'full_path': 'dummy',
          'url' : function (node) {
            return node.id === '#' ? 
              '/show/dir_contents?first=1&dir=/' : 
              '/show/dir_contents'; 
          },
          'data' : function (node) {
            var e = "{{form.vol_name.value}}"
            if (node.data) {
              return {  'dir' : node.data['dir'] , 'id':node.id, "vol_name": e};
            }
            else
              return { 'dir' : node.text , 'id':node.id, "vol_name": e};
            }
          }
        }
    });
 $(function () {
    $('#pathdiv').on('changed.jstree', function (e, data) {
        var i, j, r = [];
          var e = "{{form.vol_name.value}}"
          r = data.instance.get_node(data.selected[0]).text;
          rfp = data.instance.get_node(data.selected[0]).data["dir"];
          document.forms["edit_form"].elements["dir"].value = rfp;
          document.getElementById("id_final_path").value = "/"+e+rfp;
      })
      .jstree();
  });
  }
</script>

{%endblock%}
{%block help_header%}
Set volume quota
{%endblock%}
{%block help_body%}
<p>Use this screen to either enable or disable volume quotas or to set the usage quota for a particular volume.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active('volume_configuration_tab')
  </script>
{% endblock %}

