{% extends 'volume_base.html' %}

{%block tab_header%}
  Set volume directory quota for directory "{{form.initial.dir}}" in volume "{{form.vol_name.value}}"
{%endblock%}

{%block inside_content %}
  <b>Current quota </b>: 
  {% if current_quota %}
    {{current_quota}} 
  {%else%}
    None
  {%endif%}
  <br/><br/>

  <form id="edit_form" class="form-inline" name="edit_form" action="/set_dir_quota/" method="post">
    <input name="vol_name" type="hidden" value="{{ form.vol_name.value }}">
    <input name="dir" type="hidden" value="{{ form.dir.value }}">
<!--      {%if form.initial.dir %}
        <input name="dir" type="hidden" value="{{ form.dir.value }}">
      {%endif%}
    <label >Volume :</label> {{form.vol_name.value}} </br>
    <label >Directory in volume  :</label> {{form.initial.dir}} </br>
    {%if form.initial.dir %}
    {%else%}-->
      <div class="form-group" >
        <input type="text"  name="path" class="form-control" id="id_path" placeholder="Click the Browse button to choose a directory.." disabled> 
         <button type="button" class="btn btn-info" onClick="displayTree();return false;"> Browse..</button>
         <div id="pathdiv" style="display:inline">
       </div>
    </div>
    <div class="form-group" >
      <label for="id_final_path" >Final Directory Path :</label>
      <input type="text"  class="form-control" id="id_final_path" value="{{form.initial.dir}}" readonly> <br/>
      <input type="text"  name="dir" class="form-control" id="id_dir" value="{{form.initial.dir}}" placeholder="Enter directory within volume" style="display:none;" readonly><br/>
    {{ form.dir.errors }}
    </div>
  {%endif%}-->


    <div class="form-group" >
      <label for="id_limit" >New quota limit:</label>
      <input type="text"  name="limit" class="form-control" id="id_limit" value="{{form.initial.limit}}" placeholder=""> 
      <select id="id_unit" name="unit" class="form-control"> 
        {% for choice in form.unit.field.choices %} 
          <option value="{{choice.0}}" {%if choice.0 == form.initial.unit %} selected{%endif%} >{{choice.0}}</option>
        {%endfor%}
      </select>
      {{ form.limit.errors }}
      <br><br>
      <div class="btn-group btn-group-sm " >
        <input type="button" class="btn btn-default btn-sm" value="Cancel" onClick="window.location='/view_volume?vol_name={{form.vol_name.value}}'"> &nbsp;&nbsp;
        <button type="submit" class="btn btn-primary  btn-sm cover-page">Save</button>
      </div>
    </div>
  </form>

  <script src="/static/jstree/dist/jstree.js"></script>
  <script>
    function displayTree() {
      document.getElementById("pathdiv").style.display = "block";
      $('#pathdiv').jstree({ 'core' : {
        'multiple':false,
        'data' : {
          'full_path': 'dummy',
          'url' : function (node) {
            return node.id === '#' ? 
              '/retrieve_volume_subdirs?first=1&dir=/' : 
              '/retrieve_volume_subdirs'; 
          },
          'data' : function (node) {
            var e = "{{form.vol_name.value}}"
            if (node.data) {
              return {  'dir' : node.data['dir'] , 'id':node.id, "vol_name": e};
            }
            else
              return { 'dir' : node.text , 'id':node.id, "vol_name": e};
          }
        }
      }
      });
      $(function () {
        $('#pathdiv').on('changed.jstree', function (e, data) {
          var i, j, r = [];
            var e = "{{form.vol_name.value}}"
            r = data.instance.get_node(data.selected[0]).text;
            rfp = data.instance.get_node(data.selected[0]).data["dir"];
            document.forms["edit_form"].elements["dir"].value = rfp;
            document.getElementById("id_final_path").value = "/"+e+rfp;
        })
        .jstree();
      });
    }
  </script>
{%endblock%}

{%block help_header%}
  Set volume quota
{%endblock%}

{%block help_body%}
  <p>Use this screen to either enable or disable volume quotas or to set the usage quota for a particular volume.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active('view_volumes_tab')
  </script>
{% endblock %}

