{% extends 'volume_base.html' %}


{%block tab_header%}
  Set volume quota (edit)
{%endblock%}

{%block inside_content %}
<br><br>
{{conf_message}}
<form id="edit_form" class="form-inline" name="edit_form" action="/set_volume_quota/" method="post">
<input name="vol_name" type="hidden" value="{{ form.vol_name.value }}">
<div  style=" position:relative;border:0px solid #DDDDDD;width:600px; padding:15px 15px 15px;margin:0px 15px;border-radius:4px 4px 0px 0px">
  <div class="form-group" >
    <label >
      <input type="checkbox" name="set_quota" id="id_set_quota" {%if form.set_quota.value %} checked="checked"{%endif%}> Set quota
    </label>
    {{ form.set_quota.errors }}
    </div>
  </div>
  <div class="form-group" >
    <label for="id_limit" >Quota limit:</label>
    <input type="text"  name="limit" class="form-control" id="id_limit" value="{{form.initial.limit}}" placeholder=""> 
    <select id="id_unit" name="unit" class="form-control" onChange="display_access_info('id_discovery_auth_group', 'id_discovery_auth_group_info');">
    
    {% for choice in form.unit.field.choices %} 
          <option value="{{choice.0}}" {%if choice.0 == form.initial.unit %} selected{%endif%} >{{choice.0}}</option>
    {%endfor%}
    </select>
    {{ form.limit.errors }}
  </div>
  <br><br>
        <input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/show/volume_info/{{form.vol_name.value}}'"> &nbsp;&nbsp;
        <button type="submit" class="btn btn-primary">Save >></button>
</div>
</form>
<script type="text/javascript">
function set_select_field_disabled(f, val) {
  f.disabled = val
}
function set_field_disabled(f, val) {
  f.disabled = val;
}
$("form input[name='set_quota']").click(function () { 
    // Handle the click event here
    //alert("clicked");
    if (document.forms["edit_form"].elements["set_quota"].checked) {
      set_field_disabled(document.forms["edit_form"].elements["limit"], false);
      set_select_field_disabled(document.forms["edit_form"].elements["unit"], false);
    } else {
      set_select_field_disabled(document.forms["edit_form"].elements["unit"], true);
      set_field_disabled(document.forms["edit_form"].elements["limit"], true);
    }
    });
$(window).load(function() {
  // Handler for .load() called.
    //alert("loaded");
    //alert(document.forms["edit_form"].elements["set_quota"].checked);
    if (document.forms["edit_form"].elements["set_quota"].checked) {
      set_field_disabled(document.forms["edit_form"].elements["limit"], false);
      set_select_field_disabled(document.forms["edit_form"].elements["unit"], false);
    } else {
      set_select_field_disabled(document.forms["edit_form"].elements["unit"], true);
      set_field_disabled(document.forms["edit_form"].elements["limit"], true);
    }
  });
</script>

{%endblock%}
{%block help_header%}
Set volume quota
{%endblock%}
{%block help_body%}
<p>Use this screen to either enable or disable volume quotas or to set the usage quota for a particular volume.</p>
{%endblock%}
