{% extends 'volume_base.html' %}

{%block tab_header%}
      Expand a volume
{%endblock%}
{%block inside_content %}
<br><br>
<!-- Modal -->
<div class="modal fade" id="processing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="myModalBody">
        <br><br><br>
        <img src="/static/images/4.gif" >
        <br><br><br>
        <p id="p-node-text">Processing.. Please wait.
        <br><br><br>
      </div>
    </div>
  </div>
</div>


<span id="instruction-text"> The volume will be expanded by adding the following storage locations. The system automatically selects available storage to be added to the volume. <br><br>Please verify and confirm.<span><br>

<br>
<br>

<table class="table table-bordered" style="width:400px">
<tr>
  <th>
    Node and disk 
  </th>
</tr>
{% for n in node_list %}
  <tr>
    <td>
      {% if vol_type == "replicated" %}
        <ul>
        {% for l in n %}
        <li> {{l}}
        {%endfor%}
        </ul>
      {%else%}
        {% for l in n %}
        {{l}}
        {%endfor%}
      {%endif%}
    </td>
  </tr>
{%endfor%}
</table>


<form action="/expand_volume/" method="post">
<input type=hidden name="cmd" value="{{cmd}}">
<input type=hidden name="vol_name" value="{{vol_name}}">
<input type=hidden name="count" value="{{count}}">
{%for d in dataset_list%}
{%for k, v in d.items%}
<input type="hidden" name="dataset_list" value="{{k}}:{{v}}">
{%endfor%}
{%endfor%}
<button type="submit" class="btn btn-primary" onClick ="$('#processing').modal('show');">Expand >></button>
</form>

{%endblock%}
{%block help_header%}
Expand a volume
{%endblock%}
{%block help_body%}
<p>If you have added new GRIDCells to the grid AFTER you have created some volumes, then you may use this screen to initiate an expansion of the volume to use the space on these new GRIDCells as well. While this is not required, it is useful if you want to expand the amount of space available for that volume to consume.</p>
{%endblock%}
{% block tab_active %}
  <script>
    make_tab_active('volume_configuration_tab')
  </script>
{% endblock %}
