{% extends 'logged_in_base.html' %}

{%block page-header%}
  First Time Logged In
  <small>
      Welcome
  </small>
{%endblock%}


{%block contents%}

<div class="modal fade" id="first_time_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">First Time Setup</h4>
      </div>
      <div class="modal-body">
        <div role="tabpanel">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Welcome</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Scan Hardware</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
            <p>Welcome to your new IntegralStor system! </p>
            <p> Since this is the first time setup, we will need to scan the network for all GRIDCells. Please make sure that all your GRIDCells are powered on and connected to the same subnet. It is especially important that the primary and secondary GRIDCells are powered on and reachable in order for this process to complete properly. Once this has been ensured, please click to button below to begin the scan.</p> 
            <button class="btn btn-info" id="next_button">Scan for GRIDCells >></button>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
              {%include 'add_hardware_form.html'%}
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  $(document).ready(function() {
    $('#first_time_modal').modal({
        show: true,
        keyboard: false,
        backdrop: 'static'
    });
    $('#next_button').on('click', function() {
      $('.nav-tabs li:eq(1) a').tab('show')
      $('.nav-tabs li:eq(0) a').tab('hide')
    });
  });
</script>
<style type="text/css">
.modal-dialog {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.modal-content {
  height: 100%;
  border-radius: 0;
}
</style>

{%endblock%}
