{% extends 'logged_in_base.html' %}

{%block tab_items %}
  <li id="view_current_audit_tab"><a href="/view_audit_trail">Audit trail</a></li>
  <li id="view_current_alerts_tab"><a href="/view_alerts">Alerts</a></li>
  <!--<li id="view_rotated_audit_log_list_tab"><a href="/view_rotated_log_list/audit_trail">Rotated audit trails</a></li>-->
  <li id="view_rotated_alert_log_list_tab"><a href="/view_rotated_log_list/alerts">Rotated alerts</a></li>
<!--  <li id="download_system_logs_tab"><a href="/download_sys_log">System logs</a></li>-->
  <li id="volume_log_download_tab"><a href="/download_vol_log">Volume logs</a></li>
{% endblock%}

{% block menu_active %}
  <script>
    make_side_menu_active("log_menu")
  </script>
{% endblock%}
