{% extends 'logged_in_base.html' %}

{%block contents%}


<span id="topic-text"> Hardward status -> GRIDCell status -> Identify a GRIDCell</span><br>


GRIDCell {{node}} has been flagged. A blue LED will flash on the front panel for the next 4 minuted. 




{%endblock%}
{%block help_header%}
GRIDCell identification
{%endblock%}
{%block help_body%}
<p>In a scale out system, like IntegralStor, you will potentially have many GRIDCells stacked together. If you want to physically identify a particular GRIDCell for any reason, this will allow you to flash a blue LED on the front of the GRIDCell which will facilitate this physical identification.</p>
{%endblock%}
