{% extends 'logged_in_base.html' %}
<script type="text/javascript">
var ip_counter=1
</script>

<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: white;
        color: red;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>
<script type="text/javascript">
function load_node_info(hostname, str) {
  url='/show/node_info/' + encodeURIComponent(hostname);
  document.getElementById('myModalLabel').innerHTML = "Node information for " + str + "&nbsp; (" + hostname + ")";
  $('#myModalBody').load(url);
  $('#myModal').modal();
}
</script>

{%block contents%}
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h4 id="myModalLabel">Modal header</h4>
</div>
<div id="myModalBody" class="modal-body">
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>
</div>

<span id="topic-text"> Configure -> Remove storage </span>
<br>


{% if not sled_list %}
<span id="error-text">None of the sleds can currently be removed from the storage pool. A sled may be removed only if it does not have any data volumes on it.<br>
Please use the "Replace sled" menu item to migrate data volumes onto an empty sled before performing this operation.</span><br>
{%else%}
<span id="instruction-text"> Please select a sled to remove from the available storage pool </span>
{%endif%}

<form action="/remove_sled/" method="post">
<input type=hidden name="op" value="remove_server">

<div style="margin-top:5px;margin-left:auto;border:solid 0px;text-align:center;"> 
    <table border=0 style="margin:auto;border-spacing:0;border-collapse:collapse;">
    <tr style="padding:0">
      <td style="padding:0">
      <img src="/static/images/chassis_left.png" style="padding:0">
      </td>
      {%for al in display_node_list %}
      <td style="padding:0">
        <table style="height:268px;border-spacing:0;border-collapse:collapse;"  border=0 >
        {% for bl in al %}
        <tr style="padding:0;">
          <td style="padding:0;width:255px;background:url('/static/images/sled.png') no-repeat;">
            <table  style="height:100%;width:100%;border-spacing:0;border-collapse:collapse;border: solid 0px;border-color:white">
            <tr>
              <td  colspan=2 style="border-right:solid 1px;text-align:center">
                &nbsp;
              </td>
<!--
              <td  rowspan=2 style="width:10%;border-bottom:solid 0px;border-right:solid 1px;border-left:solid 1px;text-align:center;background:lightgray">
                {% if bl.0.sled in sled_list %}
                <input type="radio"  value="{{ bl.0.sled }}" name="sled">
                {%else%}
                &nbsp;
                {%endif%}
              </td>
-->
            </tr>
            <tr>
              <td colspan=2 style="border-right:solid 1px;text-align:center;background:lightgray">
                <p id="p-node-text">Sled {{bl.0.sled}}
                {% if bl.0.sled in sled_list %}
                <input type="radio"  value="{{ bl.0.sled }}" name="sled"></p>
                {%endif%}
              </td>
<!--
              {% for node in bl %}
              <td style="background:lightgray;border-bottom:solid 1px;border-right:solid 1px" >
                <div style="width:100%; text-align:center;" onClick="load_node_info('{{node.hostname}}', 'Sled {{node.sled}} Node {{forloop.counter}}');return false;">Node {{forloop.counter}}</div>
              </td>
              {%endfor %}
-->
            </tr>
            </table>
          </td>
        </tr>
        {%endfor%}
        </table>
      </td>
      {%endfor%}
      <td style="padding:0">
      <img src="/static/images/chassis_right.png" style="padding:0">
      </td>
    </tr>
    </table>
</div>
<br>
{% if sled_list %}
  <center><button type="submit" class="btn">Remove sled >></button></center>
{%endif%}
</form>


{%endblock%}
{%block help_header%}
Remove storagehelp
{%endblock%}
{%block help_body%}
<p>Help about removing storage- needs customisation…</p>
{%endblock%}
