{% extends 'storagepool_base.html' %}

{%block page-header%}
  Remove a IntegralStor GRIDCell
  <br /><small>
      Storage Pool
      <i class="fa fa-angle-double-right smaller-80"></i>
      Remove Storage
  </small>
{%endblock%}


{%block contents%}
<script type="text/javascript">
function load_node_info(hostname, str) {
  url='/show/node_info/' + encodeURIComponent(hostname) + '?modal=1';
  document.getElementById('myModalLabel').innerHTML = "GRIDCell information for " + str ;
  $('#myModalBody').load(url);
  $('#myModal').modal();
}
</script>

{% if form.errors %}
<p id="error-text"> Please select at least one IntegralStor GRIDCell.</p>
{%endif%}

{%if not node_list %}

<span id="error-text">None of the IntegralStor GRIDCells can currently be removed from the storage pool. An IntegralStor GRIDCell may be removed only if it does not have any data volumes on it.<br>
Please use the "Replace GRIDCell" menu item to migrate data volumes onto an empty GRIDCell before performing this operation.</span><br>

{%else %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



{% if form.hosts.errors %}
<p id="error-text"> Please select at least one IntegralStor GRIDCell</p>
{%endif %}



Please select an IntegralStor GRIDCell to remove from the storage pool.
<br>
<br>
<form action="/remove_node_from_pool/" method="post">
<table class="table table-bordered" style="width:300px">
<tr>
  <th>
    GRIDCell name
  </th>
  <th>
    Select a GRIDCell
  </th>
  <th>
    Details
  </th>
</tr>
{%for hostname in node_list %}
  <tr>
    <td>
      {{hostname}}
    </td>
    <td>
      <input type="radio"  value="{{ hostname }}" name="node">
    </td>
    <td>
      <a href="/show/node_info/{{hostname}}/?from=remove_node" role="button" class="btn btn-default">Details.. </a>
    </td>
  </tr>
{%endfor%}
</table>

<input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/show/dashboard'"> &nbsp;&nbsp;
<button type="submit" class="btn btn-primary cover-page">Remove GRIDCell</button>
</form>
<!-- Modal -->

{%endif%}
{%endblock%}
{%block help_header%}
Remove a GRIDCell from the storage pool
{%endblock%}
{%block help_body%}
<p> This screen allows you to choose a GRIDCell that you want to remove from the storage pool. You would normally remove the GRIDCell from the storage pool in order to do some planned maintanance. A GRIDCell can only be removed if it does not have any data from an active volume residing on it. If there is a volume, whose data is on a GRIDCell that you want to remove, then use the "Replace GRIDCell" functionality to migrate the volume data onto another GRIDCell before removing it from the storage pool.</p>
{%endblock%}

{% block tab_active %}
	<script>
		make_tab_active('gridcell_list_tab')
	</script>
{% endblock %}

