{% extends 'gridcell_base.html' %}

{%block tab_header%}
  Remove a GRIDCell from the grid - confirmation
{%endblock%}

{%block inside_content %}

  <form action="" method="post">
    <input type=hidden name="conf" value="1">
    <input type=hidden name="gridcell_name" value="{{gridcell_name}}">

    <p > You have chosen to remove GRIDCell {{gridcell_name}} from the grid.</p><br>

    <div class="btn-group btn-group-sm " >
      <a href="/view_gridcells" role="button" class="btn btn-sm btn-default"> Cancel</a>&nbsp;&nbsp;
      <button type="submit" class="btn btn-primary cover-page">Confirm and proceed</button>
    </div>
  </form>


{%endblock%}

{%block help_header%}
 Remove a GRIDCell from the storage pool
{%endblock%}

{%block help_body%}
  <p> This screen is a confirmation prompt before removing the chosen GRIDCell from the storage pool. You would normally remove the GRIDCell from the storage pool in order to do some planned maintanance.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active('gridcell_list_tab')
  </script>
{% endblock %}
