{% extends 'logged_in_base.html' %}
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: white;
        color: red;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>


{%block contents%}
<div id="processing" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-body">
<br><br><br>
<img src="/static/images/4.gif" >
<br><br><br>
<p id="p-node-text">Processing.. Please wait.
<br><br><br>
</div>
</div>
<span id="topic-text"> Configure -> Remove storage - confirmation</span><br>

<form action="" method="post">
  <input type=hidden name="conf" value="1">
  <input type=hidden name="sled" value="{{sled}}">

  <p id="p-instruction-text"> You have chosen to remove sled {{sled}}.</p><br>
      <button type="submit" class="btn" onClick ="$('#processing').modal('show');">Confirm and proceed >></button>
</form>


{%endblock%}
{%block help_header%}
Remove storage help
{%endblock%}
{%block help_body%}
<p>Help about removing storage- needs customisation…</p>
{%endblock%}
