{% extends 'logged_in_base.html' %}

{%block page-header%}
  Storage pool
  <br /><small>
      Storage pool
      <i class="fa fa-angle-double-right smaller-80"></i>
      Remove from storage pool
  </small>
{%endblock%}

{%block contents%}
<!-- Modal -->

<span id="topic-text"> Storage pool -> Remove storage - confirmation</span><br>

<form action="" method="post">
  <input type=hidden name="conf" value="1">
  <input type=hidden name="node" value="{{node}}">

  <p > You have chosen to remove GRIDCell {{node}}.</p><br>
      <button type="submit" class="btn btn-primary cover-page" >Confirm and proceed </button>
</form>


{%endblock%}
{%block help_header%}
Remove a GRIDCell from the storage pool
{%endblock%}
{%block help_body%}
<p> This screen is a confirmation prompt before removing the chosen GRIDCell from the storage pool. You would normally remove the GRIDCell from the storage pool in order to do some planned maintanance.</p>
{%endblock%}
{% block tab_active %}
	<script>
		make_tab_active('gridcell_list_tab')
	</script>
{% endblock %}
