{% extends 'gridcell_base.html' %}

{% block tab_header %}
	Remove GRIDCell
{% endblock%}

{% block inside_content%}
<br />
<br />
  {% if gridcells %}
  <table class="table table-bordered">
    {% for gridcell in gridcells %}
    <tr>
       <td> {{gridcell}}</td>
       <td>
	 <form action="." method="POST">
		<input type="text" value="{{gridcell}}" style="display:none;" name="gridcell"/>
		<button type="submit" class="btn btn-danger cover-page">Remove GRIDCell</button>
	</form>
       </td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    No GRIDCells found for removal. Please remove the GRIDCell from storage pool for GRIDCell to appear here.
  {% endif %}
{% endblock %}
