{% extends 'gridcell_base.html' %}
{%block tab_header%}
  Replace GRIDCell disk
{%endblock%}

{%block inside_content%}
<br><br>

  <p > The system has successfully scheduled the replacement of a disk with serial number {{old_serial_number}} with a new disk with serial number {{new_serial_number}} on GRIDCell {{node}}. The status of this replacement process can be viewed under the "Admin -> View scheduled jobs" screen.</p><br>



{%endblock%}
{%block help_header%}
Replace a disk - results
{%endblock%}
{%block help_body%}
<p>The disk replacement process may take some time depending on the amount of data on the disk, hence the replacement process is a scheduled background job. The replacement of the old disk has been successfully scheduled and the status can be viewed in the "Admin -> View scheduled jobs" screen. The internal RAID process will repopulate the appropriate data onto the new disk.</p>
{%endblock%}
{% block tab_active %}
	<script>
		make_tab_active('gridcell_list_tab')
	</script>
{% endblock %}
