{% extends 'logged_in_base.html' %}

{%block contents%}
<!-- Modal -->
<div class="modal fade" id="processing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="myModalBody">
        <br><br><br>
        <img src="/static/images/4.gif" >
        <br><br><br>
        <p id="p-node-text">Processing.. Please wait.
        <br><br><br>
      </div>
    </div>
  </div>
</div>

<span id="topic-text"> Storage -> Replace disk - results</span><br>


  <p > The system has successfully replaced the disk with serial number {{old_serial_number}} with a new disk with serial number {{new_serial_number}} on node {{node}}.</p><br>



{%endblock%}
{%block help_header%}
Replace disk help
{%endblock%}
{%block help_body%}
<p>Help about replace disk - needs customisation…</p>
{%endblock%}
