{% extends 'gridcell_base.html' %}
{%block tab_header%}
  Replace GRIDCell disk
{%endblock%}

{%block inside_content%}
<br><br>

  <p > The system has successfully replaced the disk with serial number {{old_serial_number}} with a new disk with serial number {{new_serial_number}} on GRIDCell {{node}}.</p><br>



{%endblock%}
{%block help_header%}
Replace a disk - results
{%endblock%}
{%block help_body%}
<p>The old disk has been successfully been replaced with the new disk. The internal RAID process will repopulate the appropriate data onto the new disk.</p>
{%endblock%}
{% block tab_active %}
	<script>
		make_tab_active('gridcell_list_tab')
	</script>
{% endblock %}
