{% extends 'volume_base.html' %}


{%block tab_header%}
   Set volume directory quota 
{%endblock%}

{%block inside_content %}
<br><br>
    <table  class="table " style="width:800px">
       {% include 'vol_dir_select.html'%}
     </table>
 
    <button type="submit" class="btn btn-primary cover-page" onClick="document.getElementById('id_path').disabled = false;return true;")> Set Quota</button>

<script>
  function changed_vol_params(vol_name,path){
    document.location.href = document.location.pathname + "?vol_name="+vol_name+"&dir="+path.slice(0,-1);
  } 
</script>
{%endblock%}

{%block help_header%}
  Create a directory within a volume
{%endblock%}

{%block help_body%}
  <p>Use this screen to browse a volume and create a directory at any point in the directory tree.</p>
{%endblock%}
{% block tab_active %}
  <script>
    make_tab_active('volume_dir_quota_tab')
  </script>
{% endblock %}
