{% extends 'volume_base.html' %}


{%block tab_header%}
   Set volume directory quota 
{%endblock%}

{%block inside_content %}
<br><br>
    <table  class="table " style="width:800px">
       {% include 'vol_dir_select.html'%}
     </table>
 
    <button type="button" class="btn btn-primary" onClick="document.getElementById('id_path').disabled = false;return true;") id="id_set_quota"> Set Quota</button>

<script>
  var url = ""
  function changed_vol_params(vol_name,path){
    url = document.location.pathname + "?vol_name="+vol_name+"&dir="+path;
  } 
  $("#id_set_quota").click(function(){
    if (url != "") {
      document.location.href = url

    } else {
      alert("Please Select a Directory");
    }
  });
</script>
{%endblock%}

{%block help_header%}
  Create a directory within a volume
{%endblock%}

{%block help_body%}
  <p>Use this screen to browse a volume and create a directory at any point in the directory tree.</p>
{%endblock%}
{% block tab_active %}
  <script>
    make_tab_active('volume_dir_quota_tab')
  </script>
{% endblock %}
