{% extends 'volume_base.html' %}

{%block tab_header %}
  Stop volume "{{vol_name}}" - confirmation
{%endblock%}

{% block inside_content %}

  <p id="p-warning-text">Stopping a volume will prevent data access to all data in the volume. Are you sure you want to stop the volume "{{vol_name}}"? </p>
  <br>
  <form action="/change_volume_status/" method="POST">
    <input type=hidden name="vol_name" value="{{vol_name}}">
    <input type=hidden name="action" value="stop">
    <input type=hidden name="conf" value="True">
    <div class="btn-group btn-group-sm " >
      <input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/view_volume?vol_name={{vol_name}}'"> &nbsp;&nbsp;
      <button type="submit" class="btn btn-danger cover-page" >Confirm and stop</button>
    </div>
  </form>

{%endblock%}

{%block help_header%}
  Stopping a volume confirmation.
{%endblock%}

{%block help_body%}
  <p> This confirmation screen is being displayed because this operation will cause a disruption of data access. Please ensure that this is the intended operation before proceeding. </p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active('view_volumes_tab')
  </script>
{% endblock %}
