{% extends 'logged_in_base.html' %}

<script type="text/javascript" src="static/js/bootstrap-confirmation.js"></script>

</script>


{%block page-header%}
  GRIDCell Disk Status
    <br /><small>
      GRIDCell
      <i class="fa fa-angle-double-right smaller-80"></i>
      GRIDCell Status
  </small>
 {%endblock%}
{%block contents%}

{%if disk_new%}
<div class="box box-solid box-warning">
  <div class="box-header">
    <h3 class="box-title"><i class="fa fa-wrench faa-wrench animated"></i> &nbsp;GRIDCells not in Storage Pool</h3>
    <div class="box-tools pull-right">
        <div class="btn btn-warning"><strong><a href="{%url 'add_nodes'%}" class="white">Add GRIDCells to Storage pool <i class="fa fa-long-arrow-right"></i></a></strong></div>
    </div> 
  </div>
  <div class="box-body">
    <div class="row margin-left-10">
    {%for hostname, d in disk_new.items%}
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
      <!-- small box -->
        <div class="small-box {{d.background_color}}">
          <div class="inner">
            <h4>
              {{hostname}}
            </h4>
            <p>
              {{d.name}}
            </p>  
          </div>
          <div class="disk-icon">
            {%for diskpos in d.disk_pos%}
              <i class="fa fa-hdd-o" id ="{{diskpos}}">
            {%endfor%}
            {%for disk in d.disks.items %}
              {%if disk.1 == "PASSED" %}
                 <i class="fa fa-hdd-o white"></i>
              {%else%}
                 <i class="fa fa-hdd-o faa-hdd-o animated red"></i>
              {%endif%}
           {%endfor%}

          </div>
          <a href="/show/node_status/{{hostname}}" class="small-box-footer">
             <strong>More info</strong> <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
    {%endfor%}    
    </div>
  </div>
</div>
{%endif%}

{%if disk_status%}
<div class="box box-solid box-info">
  <div class="box-header">
    <h3 class="box-title">GRIDCells in Storage Pool</h3>
  </div>
  <div class="box-body">
    <div class="row margin-left-1">
    {%for hostname, d in disk_status.items%}
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
      <!-- small box -->
        <div class="small-box {{d.background_color}}">
        {%if d.name == "Unknown"%}
        <div class="inner">
            <h4>
              {{hostname}}
            </h4>    
            <p>
              Node Down !
            </p>
          </div>
          <div class="disk-icon">
             <i class="fa fa-warning faa-flash animated white"></i>
          </div>
        {%else%}
          <div class="inner">
            <h4>
              {{hostname}}
            </h4>
            <p>
              {{d.name}}
            </p>  
          </div>
          <div class="disk-icon">
            <i class="fa fa-hdd-o" id ="{{d.disk_pos.1}}"></i>
            <i class="fa fa-hdd-o" id ="{{d.disk_pos.2}}"></i>
            <i class="fa fa-hdd-o" id ="{{d.disk_pos.3}}"></i>
            <i class="fa fa-hdd-o" id ="{{d.disk_pos.4}}"></i>
            <script>
                {%for disk in d.disks.items %}
                  {%if disk.1 == "PASSED" %}
                    $("#{{disk.0}}").addClass('white')
              {%else%}
                    $("#{{disk.0}}").addClass("faa-hdd-o animated red");
              {%endif%}
           {%endfor%}
          </script>
          </div>
        {%endif%}
          <a href="/show/node_status/{{hostname}}" class="small-box-footer">
             <strong>More info</strong> <i class="fa fa-arrow-circle-right"></i>
          </a>
        </div>
      </div>
    {%endfor%}    
    </div>
  </div>
</div>
{%endif%}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
  $("#activate_led").click(function(){
    $.ajax({
      type : 'GET',
      url :"/flag_node?node={{node_name}}",
      data : {},
      success : function(){
        $(".alert").addClass("alert-success")
        $("#message_content").html('<strong>Success !</strong> LED is blinking on the GRIDCell.')
        $("#message").show();
      },
      error : function(){
        $(".alert").addClass("alert-danger")
        $("#message_content").html('<strong>Error !</strong> Plese try again. Something just went  off .')
        $("#message").show();
      }
    });
  });
});
</script>

{%endblock%}


{%block help_header%}
Disk status help
{%endblock%}
{%block help_body%}
<p>Help about disk status…</p>
{%endblock%}
