{% extends 'system_base.html' %}

{%block tab_header%}
  Email Settings
{%endblock%}
{%block global_actions %}
  <div class="btn-group btn-group-sm pull-right" >
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Click for actions" href="#"> <i class="fa fa-cog fa-fw"></i> Actions&nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
    <ul class="dropdown-menu">
      <li><a  class="action-dropdown" href="/configure_email_settings"   title="Configure email alerting" > <i class="fa fa-cog fa-fw"></i>Configure email alertiing </a>
    </ul>
  </div>
{%endblock%}


{%block inside_content%}

  {% if email_not_configured %}
    <p id="p-instructional-text"> Email settings have not been configured. </p><br>
  {%else%}
    <table class="table table-bordered">
      <tr>
        <th> SMTP  server </th>
        <td> {{ email_settings.server }} </td>
      </tr>
      <tr>
        <th> SMTP  server port </th>
        <td> {{ email_settings.port }} </td>
      </tr>
      <tr>
        <th> SMTP  server username </th>
        <td> {{ email_settings.username }} </td>
      </tr>
      <tr>
        <th> Use TLS </th>
        <td>
          {% if  email_settings.tls %} Yes {%else%} No {%endif%}
        </td>
      </tr>
      <tr>
        <th> Send email on alerts </th>
        <td>
          {% if  email_settings.email_alerts %} Yes {%else%} No {%endif%}
        </td>
      </tr>
      <tr>
        <th> Send email on audits </th>
        <td>
          {% if  email_settings.email_audit %} Yes {%else%} No {%endif%}
        </td>
      </tr>
      <tr>
        <th> Send email on quotas </th>
        <td>
          {% if  email_settings.email_quota %} Yes {%else%} No {%endif%}
        </td>
      </tr>
      <tr>
        <th> Email recipient list </th>
        <td> {{ email_settings.rcpt_list }} </td>
      </tr>
    </table>
  {%endif%}

{%endblock%}

{%block help_header%}
  Email setting
{%endblock%}

{%block help_body%}
  <p>The administrator of an IntegralStor system can configure email settings for an email server and recipient email addresses if (s)he would like email alerts to be sent to them in case of errors in the system. This page provides details of the email settings that have been configured.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active('email_settings_tab')
  </script>
{% endblock %}

