{% extends 'logged_in_base.html' %}


{%block page-header%}
  ISCSI Access
  <small>
      ISCSI Access 
      <i class="fa fa-angle-double-right smaller-80"></i>
      Authorized Access Group 
      <i class="fa fa-angle-double-right smaller-80"></i>
      View Authorized Access Group
  </small>
{%endblock%}

{%block contents%}
<span id="topic-text"> ISCSI access -> Authorized accesses groups -> View authorized access group details </span><br>



<p style="color:red;"> {{form.errors}}</p>
{{conf_message}}

            <table class="table table-bordered" style="width:60%">
            <tr>
              <th>
            Authorized access group ID:
              </th>
              <td>
            {{ auth_access.id }}
              </td>
            </tr>
            <tr>
              <th>
            User :
              </th>
              <td>
            {{ auth_access.user }}
              </td>
            </tr>
            <tr>
              <th>
            Peer user:
              </th>
              <td>
            {{ auth_access.peer_user }}
              </td>
            </tr>
            </table>

<a href="/iscsi_display_auth_access_group_list" role="button" class="btn btn-default"><< Authorized access groups list</a>
<a href="/iscsi_edit_auth_access_group?id={{auth_access.id}}" role="button" class="btn btn-default">Modify..</a>
<a href="/iscsi_delete_auth_access_group?id={{auth_access.id}}" role="button" class="btn btn-default">Delete this authorized access group..</a>


{%endblock%}
{%block help_header%}
ISCSI authorized access group info help
{%endblock%}
{%block help_body%}
<p>Help about ISCSI authorized access group info…</p>
{%endblock%}
