{% extends 'services_base.html' %}

{%block tab_header%}
  NTP Settings
{%endblock%}

{%block global_actions %}
  <div class="btn-group btn-group-sm pull-right" >
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Click for actions" href="#"> <i class="fa fa-cog fa-fw"></i> Actions&nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
    <ul class="dropdown-menu">
      <li><a  class="action-dropdown" href="/edit_ntp_settings"   title="Modify NTP settings" > <i class="fa fa-cog fa-fw"></i>Modify NTP settings</a>
    </ul>
  </div>
{%endblock%}

{%block inside_content%}

  {%if not ntp_servers %}
    <p id="p-instructional-text"> You have not configured NTP.</p><br>
    <a href="/configure_ntp_settings/" role="button" class="btn btn-default">Configure NTP settings</a>
  {%else%}

    <table class="table table-bordered" style="width:200px">
      <tr>
        <th> Configured NTP  servers </th>
      </tr>
      {% for server in ntp_servers %}
        <tr>
          <td> {{ server}} </td>
        </tr>
      {%endfor%}
    </table>
  {%endif%}

{%endblock%}

{%block help_header%}
  NTP setting 
{%endblock%}

{%block help_body%}
  <p>The IntegralStor GRIDCells need to be time synchronised with your Active Directory server in order for Active Directory based authentication to work properly. This requires that the NTP time synchronisation protocol be setup. Please ensure that NTP is running on the Active Directory server and that these NTP settings point to the Active Directory server. Alternatively, you could have IntegralStor and the Active Directory servers point to the same external NTP server in order to synchronize the times. This page displays the currently configured NTP server settings.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active('service_ntp_tab')
  </script>
{% endblock %}

