{% extends 'volume_base.html' %}

{%block tab_header%}
  Background processes
{%endblock%}

{%block inside_content%}
<br><br>

{%if file_list %}
<table class="table table-condensed table-hover">
<thead>
<tr>
<th>
Process
</th>
<th>
Submit time
</th>
<th>
Start time
</th>
<th>
Click for details
</th>
</thead>
{%for d in file_list %}
<tr>
  <td>
    {{d.title}}
  </td>
  <td>
    {{d.initiate_time}}
  </td>
  <td>
    {% if not d.start_time %}
      Not started
    {%else%}
      {{d.start_time}}
    {%endif%}
  </td>
  <td>
    <a href="{{d.status_url}}" role="button" class="btn btn-default">Details</a>
  </td>
</tr>
{%endfor%}
</table>
{%else%}
<br><br>No outstanding background processes.
{%endif%}

{%endblock%}
{%block help_header%}
Batch processes list
{%endblock%}
{%block help_body%}
  <p>Anytime an action is performed from IntegralView that requires potentially large movement of data, a background process is scheduled in order to perform this action. The background processes are processed every minute. This page lists all such background processes that have been scheduled. You can click on any particular process entry to view the details of that process.</p>
{%endblock%}
{% block tab_active %}
  <script>
    make_tab_active('volume_background_tab')
  </script>
{% endblock %}

