
{% extends 'logged_in_base.html' %}

{%block contents%}
<script type="text/javascript">
window.done = 0;
</script>
<script type="text/javascript">
var auto_refresh;
auto_refresh = setInterval(
function ()
{
  if (window.done == 1) {
    document.getElementById('done_id').style.display = 'block';
    clearInterval(window.auto_refresh);
  }
  $('#status_div').load('/show/refresh_status?file_name=hs_output_{{extn}}').fadeIn("slow");
}, 3000); 
  
</script>

<span id="topic-text">Hardware scan status update</span><br>
<p id="p-instruction-text"> This page will autorefresh every 3 seconds to display updates. After the hardware scan is complete, you will see a link at the bottom of this page to view and approve the changes.</p>
<div id="status_div">
</div>

<div id="done_id" style="display:none">
The hardware scan is now complete. <a href="/show/manifest?manifest=manifest_{{extn}}"> Click here to view the results and approve changes.</a>
</div>
{%endblock%}
