{%extends 'logged_in_base.html'%}

{%block page-header%}
  Disk Status
    <br /><small>
      Platform 
      <i class="fa fa-angle-double-right smaller-80"></i>
      Disk Details
      <i class="fa fa-angle-double-right smaller-80"></i>
      {{request.GET.node_id}}
  </small>
 {%endblock%}
{%block contents%}

{% for hostname, d in disk_status.items %}

<table id="table_{{forloop.counter}}" class="table table-bordered table-condensed table-hover" style="width:800px;">
  <tr>
    <th colspan=7>
      Node name : {{hostname}}
    </td>
  </tr>
  {% for pool in d.pools %}
  <tr>
    <td colspan=7>
      ZFS Pool name : {{pool.config.pool_status.name}}
    </td>
  </tr>
  <tr>
    <td colspan=7>
      ZFS Pool type : {%if pool.config.type == 'normal' %} Non-RAID {%elif pool.config.type == 'raidz1'%} RAID-5 {%endif%}
    </td>
  </tr>
  <tr>
    <td colspan=7>
      ZFS Pool status : {{pool.state}} ({{pool.config.pool_status.read}} read errors, {{pool.config.pool_status.write}} write errors, {{pool.config.pool_status.cksum}} checksum errors)
    </td>
  </tr>
  {% if 'zil_status' in pool.config %}
  <tr>
    <td colspan=7>
      ZFS Write cache status : {{pool.config.zil_status.state}} ({{pool.config.zil_status.read}} read errors, {{pool.config.zil_status.write}} write errors, {{pool.config.zil_status.cksum}} checksum errors)
    </td>
  </tr>
  {%endif%}
  {% if pool.type == 'raidz1' %}
  <tr>
    <td colspan=7>
      ZFS Pool RAID status : {{pool.raid_or_mirror_status.state}} ({{pool.raid_or_mirror_status.read}} read errors, {{pool.raid_or_mirror_status.write}} write errors, {{pool.raid_or_mirror_status.cksum}} checksum errors)
    </td>
  </tr>
  {%endif%}
  <tr>
    <td colspan=7>
      ZFS Pool scan status : {%for scan in pool.scan %}{{scan}}{%endfor%}
    </td>
  </tr>
  <tr>
    <td colspan=7>
      ZFS Pool errors : {%for error in pool.errors %}{{error}}{%endfor%}
    </td>
  </tr>
  <tr>
    <td colspan=7>
      
    </td>
  </tr>
  <tr>
    <th>
      Disk serial number
    </th>
    <th>
      Disk state
    </th>
    <th>
      Disk Read errors
    </th>
    <th>
      Disk write errors
    </th>
    <th>
      Disk checksum errors
    </th>
    <th>
      Action
    </th>
    <th>
      S.M.A.R.T status
    </th>
  </tr>
  {% for component in pool.config.components %}
  <tr>
    <td>
      {{component.name}}
    </td>
    <td>
      {{component.state}}
    </td>
    <td>
      {{component.read}}
    </td>
    <td>
      {{component.write}}
    </td>
    <td>
      {{component.cksum}}
    </td>
        <td>
        <form method="POST" action="/replace_disk/">
        <input type="hidden" name="node" value="{{hostname}}">
        <input type="hidden" name="serial_number" value="{{serial_number}}">
        <input type="hidden" name="step" value="offline_disk">
        {% if disk.status != 'PASSED' %}
        <button type="submit" class="btn btn-primary cover-page"> Replace (swap out) this disk </button>
        {%else%}
        <button type="submit" class="btn cover-page"> Replace (swap out) this disk </button>
      {%endif%}
        </form>
        </td>
    {% for serial_number, disk in d.disks.items %}
      {%if disk.id == component.name%}
        <td class="center">
          {{disk.status|title}}
        </td>
      {%endif%}
    {%endfor%}
  </tr>

  {%endfor%}
  {% if 'replacements' in pool.config %}
  <tr>
    <td colspan=7>
      Disk with id {{pool.config.replacements.0.name}} is being replaced by a disk with id {{pool.config.replacements.1.name}}
    </td>
  </tr>
  {%endif%}
  {%endfor%}
</table>
{%endfor%}

<a class="btn btn-info" href="{%url 'show_page' 'disk_status' ''%}" >Go Back <i class="fa fa-arrow-circle-left"></i></a>

{%endblock%}
