{% extends 'shares_and_targets_base.html' %}

{%block tab_header%}
  View Shares
{%endblock%}

{%block inside_content%}
<br><br>

{% if conf %}
<p><i>{{conf}}</i></p>
{%endif%}

{% if not shares_list %}
No shares appear to have been created. Click <a href="/create_share/"> here</a> to create a new share.
{%else %}
<div style="width:95%;position: relative; margin: 5px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
<table class="table table-striped">
<thead>
<tr>
<th>
Share name
</th>
<th>
Volume
</th>
<th>
Directory
</th>
<th>
Description
</th>
<th>
&nbsp;
</th>
</thead>
{%for d in shares_list %}
<tr>
  <td>
    {{d.name}}
  </td>
  <td>
    {{d.vol}}
  </td>
  <td>
    {{d.display_path}}
  </td>
  <td>
    {{d.comment}}
  </td>
  <td>
    <a href="/view_share?access_mode=by_id&index={{d.share_id}}" role="button" class="btn btn-info"> Details</a>
  </td>
</tr>
{%endfor%}
</table>
</div>
{%endif%}

{%endblock%}
{%block help_header%}
View all shares 
{%endblock%}
{%block help_body%}
  <p> This screen provides the list of all the shares that have been created on this IntegralStor system. To view details about a particular share, please select the the desired share from the list.</p>
{%endblock%}
{% block tab_active %}
  <script>
    make_tab_active('view_share_tab')
  </script>
{% endblock %}

