{% extends 'users_base.html' %}

{%block tab_header%}
  Local Users
{%endblock%}

{%block global_actions %}
  <div class="btn-group btn-group-sm pull-right" >
    <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Click for user actions" href="#"> <i class="fa fa-cog fa-fw"></i> Actions&nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
    <ul class="dropdown-menu">
      <li><a class="action-dropdown" href="/create_local_user/"  title="Create a new local user"> <i class="fa fa-plus fa-fw"></i>Create a new local user</a>
    </ul>
  </div>
{%endblock%}

{%block inside_content%}

  {% if not user_list %}
    No local users appear to have been created. 
  {%else %}
    <div style="width:95%;position: relative; margin: 5px 0px; padding: 9px 9px 4px; background-color: rgb(255, 255, 255); border: 1px solid rgb(221, 221, 221); border-radius: 4px 4px 4px 4px;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th> Userid </th>
            <th> Name </th>
            <th> &nbsp; </th>
            <th> &nbsp; </th>
          </tr>
        </thead>
        {%for u in user_list %}
          <tr>
            <td> {{u.userid}} </td>
            <td> {{u.name}} </td>
            <td>
              <div class="btn-group btn-group-xs " >
                <a class="btn btn-default dropdown-toggle " data-toggle="dropdown" href="#" title="Click to view user actions "> <i class="fa fa-cog fa-fw"></i>Actions&nbsp;<span class="fa fa-caret-down" title="Toggle dropdown menu"></span> </a>
                <ul class="dropdown-menu pull-right">
                  <li><a  class="action-dropdown" href="/change_local_user_password?userid={{u.userid}}"  title="Change user's password" > <i class="fa fa-cog fa-fw"></i>Change password</a>
                  <li><a  class="action-dropdown" href="/delete_local_user?userid={{u.userid}}"  title="Remove this user" > <i class="fa fa-cog fa-fw"></i>Remove user</a>
                </ul>
              </div>
            </td>
          </tr>
        {%endfor%}
      </table>
    </div>
  {%endif%}



{%endblock%}

{%block help_header%}
  View local users 
{%endblock%}

{%block help_body%}
  <p>Use local user authentication when you want CIFS access but do not want to use or deploy Active Directory authentication. This page is used to view the list of local users who have been created for this purpose. These accounts are used only for IntegralStor access and not for any other purpose.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active('local_user_tab')
  </script>
{% endblock %}

