{% extends 'logged_in_base.html' %}

{%block contents%}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<span id="topic-text"> Platform configuration </span><br>


<table class="table table-bordered table-condensed table-hover" style="width:500px">
  <tr>
    <th>
      Node name
    </th>
    <th>
      Details  
    </th>

{% for hostname, v in system_info.items %}
  <tr>
    <td>
      {{hostname}}
    </td>
    <td>
      <a href="/show/node_info/{{hostname}}/?from=system_config" role="button" class="btn btn-default">Details.. </a>
    </td>
  </tr>
{%endfor%}
</table>

{%endblock%}
{%block help_header%}
System config help
{%endblock%}
{%block help_body%}
<p>Help about system config…</p>
{%endblock%}

