{% extends 'gridcell_base.html' %}

<script type="text/javascript" src="static/js/bootstrap-confirmation.js"></script>

</script>

{%block tab_header%}
  GRIDCell Disk Status
{%endblock%}

{%block inside_content %}

{%if disk_new%}
<div class="box box-solid box-warning">
  <div class="box-header">
    <h3 class="box-title"><i class="fa fa-wrench faa-wrench animated"></i> &nbsp;GRIDCells not in Storage Pool</h3>
    <div class="box-tools pull-right">
        <div class="btn btn-warning"><strong><a href="{%url 'add_nodes'%}" class="white">Add GRIDCells to Storage pool <i class="fa fa-long-arrow-right"></i></a></strong></div>
    </div> 
  </div>
  <div class="box-body">
    <div class="row margin-left-1">
    {%for hostname, d in disk_new.items%}
      {%include 'list_nodes.html'%}
    {%endfor%}    
    </div>
  </div>
</div>
{%endif%}

{%if disk_status%}
<div class="box box-solid box-info">
  <div class="box-header">
    <h3 class="box-title">GRIDCells in Storage Pool</h3>
  </div>
  <div class="box-body">
    <div class="row margin-left-1">
    {%for hostname, d in disk_status.items%}
      {%include 'list_nodes.html'%}
    {%endfor%}    
    </div>
  </div>
</div>
{%endif%}
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
  $("#activate_led").click(function(){
    $.ajax({
      type : 'GET',
      url :"/flag_node?node={{node_name}}",
      data : {},
      success : function(){
        $(".alert").addClass("alert-success")
        $("#message_content").html('<strong>Success !</strong> LED is blinking on the GRIDCell.')
        $("#message").show();
      },
      error : function(){
        $(".alert").addClass("alert-danger")
        $("#message_content").html('<strong>Error !</strong> Plese try again. Something just went  off .')
        $("#message").show();
      }
    });
  });
});
</script>

{%endblock%}


{%block help_header%}
GRIDCell status
{%endblock%}
{%block help_body%}
<p>This page displays the status of all the components in a particular GRIDCell. It also provides details about any particular error that a component may be facing along with position details for faulty disks. You can initiate the physical identification of a GRIDCell by triggering an LED to blink on the GRIDCell from this page.</p>
{%endblock%}

  {% block tab_active %}
    <script>
  	make_tab_active('gridcell_status_tab')
    </script>
  {% endblock%}
