{% extends 'logged_in_base.html' %}
{%block autorefresh%}
<meta http-equiv="refresh" content="30" >
{%endblock%}


{%block page-header%}
  Platform Status
  <small>
      Platform 
      <i class="fa fa-angle-double-right smaller-80"></i>
      Platform Status
  </small>

{%endblock%}

{%block contents%}
<script type="text/javascript">

function load_node_status(hostname, str) {
  url='/show/node_status/' + encodeURIComponent(hostname);
  document.getElementById('myModalLabel').innerHTML = "Node information for " + str ;
  //document.getElementById('myModalLabel').innerHTML = "Node information for " + str + "&nbsp; (" + hostname + ")";
  $('#myModalBody').load(url);
  $('#myModal').modal();
}
</script>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<p id="p-instruction-text"> This page will autorefresh every 30 seconds to display updates.</p>


<table class="table table-bordered display datatable" style="width:100%">
<thead>
  <tr>
    <th>
      Node name
    </th>
    <th>
      <b>Node Status </b>
    </th>
    <th>
      <b>Storage pool status</b>
    </th>
    <th>
      Click for details
    </th>
    </tr>
  </thead>
  <tbody>
    {% for hostname, d in system_info.items %}
      {% if d.node_status != 0 or  d.cluster_status != 1 %}
      <tr class="warning">
      {%else%}
      <tr>
      {%endif%}
        <td>
          {{hostname}}
        </td>
        <td>
          {{d.node_status_str|title}}
        </td>
        <td>
          {% if d.cluster_status == 1 %}
          online
          {%else%}
          Offline
          {%endif%}
        </td>
        <td>
          {% if d.node_status == 0 %}
          <a href="/show/node_status/{{hostname}}/?from=system_status" role="button" class="btn btn-default">Details.. </a>
          {%elif d.node_status > 0  %}
          <a href="/show/node_status/{{hostname}}/?from=system_status" role="button" class="btn btn-warning">Details.. </a>
          {%else%}
          <a href="/show/node_status/{{hostname}}/?from=system_status" role="button" class="btn btn-warning" disabled >Details.. </a>
          {%endif%}
        </td>
      </tr>
    {%endfor%}
    </tbody>
</table>
{%endblock%}
{%block help_header%}
System status help
{%endblock%}
{%block help_body%}
<p>Help about system status…</p>
{%endblock%}

