
{% extends 'volume_base.html' %}


{%block tab_header%}
  Volume details
{%endblock%}
{%block inside_content %}
  <br><br>
  {% load utilities %}

  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="box box-info box-solid collapsed-box">
        <div class="box-header with-border">
          <h3 class="box-title">Basic Information</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div style="display: none;" class="box-body">
          <ul class="nav nav-stacked">
            <li>
              <a href="#"> Name
                  <span class="pull-right "> {{vol.name}} </span>
              </a>
            </li>
            <li>
              <a href="#"> Type
                  <span class="pull-right "> {{vol.type}} </span>
              </a>
            </li>
            <li>
              <a href="#"> Access Mode
                  <span class="pull-right "> {% if iscsi %} ISCSI block access {%else %} NFS/CIFS file access {%endif%} </span>
              </a>
            </li>
            <li>
              <a href="#"> Number of Data locations used
                  <span class="pull-right "> {{vol.brick_count}} </span>
              </a>
            </li>
                 <a> <span> {% if replicate %} </span> </a>
            <li>
              <a href="#"> Number of Data Copies
                  <span class="pull-right "> {{vol.replica_count}} </span>
              </a>
            </li>
                 {% elif distribute %}
            <li>
              <a href="#"> Number of Data Copies
                  <span class="pull-right">{{vol.brick_count}} GRIDCell {% if vol.brick_count != '1' %} s {%endif%} {%endif%}</span>
              </a>
            </li>
            <li>
              <a href="#">Data Locations:
                  <span class="pull-right">
                  {{vol.bricks}}
                  {%if vol.bricks|length > 1 %}
                    {%for l in vol.bricks%}
                        {{l}}
            <!--
                          <ul>
                            {%for i in l %}
                             <li> {{i}} </li>
                            {%endfor%}
                          </ul>
              -->
                     {%endfor%}
                 {%endif%}
                 </span>
               </a>
            </li>
          {% if vol.options %}
            <li>
              <a href="#"> Extra Options:
            <span class="pull-right">
              <ol>
            {%for o in vol.options%}
              {% if o.name == "auth.reject" %}
                <span > Disallowed hosts (all access methods) : {{o.value}}</span>
              {% elif o.name == "auth.allow" %}
                <span > Permitted hosts (all access methods) : {{o.value}}</span>
              {% elif o.name == "nfs.rpc-auth-reject" %}
                <span >Disallowed hosts (NFS only) : {{o.value}}</span>
              {% elif o.name == "nfs.rpc-auth-allow" %}
                <span >Permitted hosts (NFS only) : {{o.value}}</span>
              {%else%}
               <li>{{o.name}}::{{o.value}}</li>
              {%endif%}
            {%endfor%}
              </ol>
            </span>
              </a>
            </li>
          {% endif %}

          </ul>
        </div><!-- /.box-body -->
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="box box-info box-solid collapsed-box">
        <div class="box-header with-border">
          <h3 class="box-title">Space Utilization</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div style="display: none;" class="box-body">
          <ul class="nav nav-stacked">
            <li>
                <a href="#"> Volume size used Percentage
                  <span class="progress-bar {% if vol.size_used_percent >= 80 %} progress-bar-danger {%endif%}"> </span>
                  <span class="pull-right ">{{vol.size_used_percent}}% used</span>
                </a>
            </li>
            <li>
                <a href="#"> Total usable capacity
                  <span class="pull-right "> {{vol.size_total}} </span>
                </a>
            </li>
            <li>
                <a href="#"> Space Used
                  <span class="pull-right "> {{vol.size_used}} </span>
                </a>
            </li>
            <li>
                <a href="#"> Space Free
                  <span class="pull-right "> {{vol.size_free}} </span>
                </a>
            </li>
          </ul>
        </div><!-- /.box-body -->
      </div>
    </div>
    
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="box box-info box-solid collapsed-box">
        <div class="box-header with-border">
          <h3 class="box-title">Quota Information</h3>
          <div class="box-tools pull-right">
            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
          </div><!-- /.box-tools -->
        </div><!-- /.box-header -->
        <div style="display: none;" class="box-body">
          <ul class="nav nav-stacked">
           {% if vol.quotas %}
            <li>
                <a href="#"> Quota Limit
                  <span class="pull-right ">{{vol.quotas|get_item:"/"|get_item:"limit"}}</span>
                </a>
            </li>
            <li>
                <a href="#"> Quota Used
                  <span class="pull-right ">{{vol.quotas|get_item:"/"|get_item:"size"}}</span>
                </a>
            </li>
            <li>
                <a href="#"> Quota Available
                  <span class="pull-right ">{{vol.quotas|get_item:"/"|get_item:"available"}}</span>
                </a>
            </li>
            {%else%}
             <span class="pull-left"> Quota is not set for this volume.</span>
            {%endif%}

          </ul>
        </div><!-- /.box-body -->
      </div>
    </div>

    {% if vol.quotas %}
    <div class="col-md-12 col-sm-12 col-lg-12">
       <div class="box box-info box-solid collapsed-box">
          <div class="box-header with-border">
            <h3 class="box-title">Quota Status</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
              </div><!-- /.box-tools -->
          </div><!-- /.box-header -->
          <div style="display: none;" class="box-body">
            <ul class="nav nav-stacked">
              {% for value in vol.quotas.values%}
                {% for k,v in value.items %}
                  <li>
                    <a href="#">
                      {{k|human_readable_title:"_"|title}}
                      <span class="pull-right ">{{v}}</span>
                    </a>
                  </li>
                {%endfor%}
              {%endfor%}
              </ul>
          </div><!-- /.box-body -->
       </div>
    </div>
    {%endif%}
     
    
   <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="box box-info box-solid collapsed-box">
          <div class="box-header with-border">
            <h3 class="box-title">Overall Volume and Process status in Data Locations</h3>
              <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
              </div><!-- /.box-tools -->
          </div><!-- /.box-header -->
          <div style="display: none;" class="box-body">
            <ul class="nav nav-stacked">
              <li>
                  <a href="#"> Status
                    <span class="pull-right ">{{vol.status_str}}</span>
                  </a>
              </li>
              <li>
                  <a href="#"> Data access status
                    <span class="pull-right ">{{vol.status_str}}{{vol.data_access_status}}</span>
                 </a>
              </li>
              <li>
                <table class="table table-bordered" style="width:90%">
                  <thead>
                    <tr>
                      <th>
                        Data location
                      </th>
                      <th>
                        Process
                      </th>
                      <th>
                        Status
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for br, st in vol.brick_status.items %}
                      {% if st.self_heal_deamon_status or st.nfs_status %}
                        {%if "replicate" in vol.type.lower %}
                          <tr>
                            <td>
                              {{st.hostname}}
                            </td>
                            <td>
                              Self heal deamon
                            </td>
                            <td>
                              {% if st.self_heal_deamon_status == 1 %} Healthy {%else%} Down {%endif%}
                            </td>
                          </tr>
                        {%endif%}
                        <tr>
                          <td>
                            {{st.hostname}}
                          </td>
                          <td>
                            NFS Server
                          </td>
                          <td>
                            {% if st.nfs_status == 1 %} Healthy {%else%} Down {%endif%}
                          </td>
                        </tr>
                      {%endif%}
                    {%endfor%}
                  </tbody>
                </table>
              </li>
            </ul>
          </div><!-- /.box-body -->
      </div>
    </div>
</div>
  {% if vol.data_access_status_code and vol.data_access_status_code != 0 %}

  <p>The following data locations are having issues :</p>
  <table class="table table-bordered" style="width:70%">
  <tr>
    <th> Problem GRIDCell </th>
    <th> GRIDCell status
  </tr>
  {% for k, v in vol.brick_status.items %}
    {%if vol.brick_status.k.status != 1 %}
    <tr>
      <td>
        {{v.hostname}}
      </td>
      <td>
        <button class="btn btn-warning " onClick="load_node_status('{{v.hostname}}', '{{v.hostname}}');"> Details..</button>
      </td>
    </tr>
    {%endif%}
  {%endfor%}
  </table>
  {%endif%}

  <br>
  <div class="btn-group">
    <a href="/show/volume_info_all/" role="button" class="btn btn-default"> Back </a>
  </div>
  {%if vol.status == 1 %}
    <div class="btn-group">
      <form action="/volume_specific_op/vol_stop/" method="post">
        <input type=hidden name="vol_name" value="{{vol.name}}">
        <input type=hidden name="op" value="vol_stop">
        <button type="submit" class="btn btn-danger cover-page">Stop this volume</button>
      </form>
    </div>
  {%else %}
    <div class="btn-group">
      <form action="/volume_specific_op/vol_start/" method="post">
        <input type=hidden name="vol_name" value="{{vol.name}}">
        <input type=hidden name="op" value="vol_start">
        <button type="submit" class="btn btn-primary cover-page" >Start this volume</button>
      </form>
    </div>
  {%endif%}
  <div class="btn-group">
    <form action="/volume_specific_op/vol_delete/" method="post">
      <input type=hidden name="vol_name" value="{{vol.name}}">
      <input type=hidden name="op" value="vol_delete">
      <button type="submit" class="btn btn-danger cover-page" {% if vol.status == 1 %} disabled {%endif%}>Delete this volume</button>
    </form>
  </div>
  <div class="btn-group">
    <form action="/volume_specific_op/expand_volume/" method="post">
      <input type=hidden name="vol_name" value="{{vol.name}}">
      <input type=hidden name="op" value="expand_volume">
      <button type="submit" class="btn btn-primary cover-page" {% if vol.status != 1 %} disabled {%endif%}>Expand this volume</button>
    </form>
  </div>
  <div class="btn-group">
    <form action="/volume_specific_op/vol_options/" method="post">
      <input type=hidden name="vol_name" value="{{vol.name}}">
      <input type=hidden name="op" value="vol_options">
      <button type="submit" class="btn btn-primary cover-page">Change volume options</button>
    </form>
  </div>
  <div class="btn-group">
    <form action="/volume_specific_op/vol_quota/" method="post">
      <input type=hidden name="vol_name" value="{{vol.name}}">
      <input type=hidden name="op" value="vol_quota">
      <button type="submit" class="btn btn-primary cover-page" {% if vol.status != 1 %} disabled {%endif%}>Change/set volume quota</button>
    </form>
  </div>
  {%if distribute %}
  <div class="btn-group">
    <form action="/volume_specific_op/start_rebalance/" method="POST">
      <input type=hidden name="vol_name" value="{{vol.name}}">
      <input type=hidden name="op" value="start_rebalance">
      <button type="submit" class="btn btn-primary cover-page" {% if vol.status != 1 %} disabled {%endif%}>Start volume rebalance</button>
    </form>
  </div>
  {%endif%}

{%endblock%}
{%block help_header%}
  Volume configuration
{%endblock%}
{%block help_body%}
  <p>This page provides details configuration information about the selected data volume including all options that have been set for the volume and its quota, if set.</p>
{%endblock%}
{% block tab_active %}
  <script>
    make_tab_active('volume_configuration_tab')
  </script>
{% endblock %}
