{% extends 'logged_in_base.html' %}
{%block autorefresh%}
<meta http-equiv="refresh" content="30" >
{%endblock%}

{%block page-header%}
  Storage Pool STatus
  <small>
      Storage Pool 
      <i class="fa fa-angle-double-right smaller-80"></i>
      View Integral Stor Storage Nodes
  </small>
{%endblock%}


{%block contents%}
<script type="text/javascript">

function load_node_info(hostname, str) {
  url='/show/node_status/' + encodeURIComponent(hostname);
  document.getElementById('myModalLabel').innerHTML = "Node information for " + str ;
  //document.getElementById('myModalLabel').innerHTML = "Node information for " + str + "&nbsp; (" + hostname + ")";
  $('#myModalBody').load(url);
  $('#myModal').modal();
}
</script>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<p id="p-instruction-text"> This page will autorefresh every 30 seconds to display updates.</p>

<b> Storage nodes in use </b>
<table class="table table-bordered table-condensed table-hover datatable" style="width:800px">
  <thead>
    <tr>
      <th>
        Node name
      </th>
      <th>
        <b>Status </b>
      </th>
      <th>
        Node details
      </th>
    </tr>
  </thead>
  <tbody>
    {% for hostname, d in system_info.items %}
      {% if d.node_status >= 0 %}
        {% if d.in_cluster %}
          {% if d.cluster_status != 1 %}
            <tr class="warning">
          {%else %}
            <tr>
          {%endif%}
              <td>
                {{hostname}}
              </td>
              <td>
                {% if d.cluster_status == 1 %}
                online
                {%else%}
                Offline
                {%endif%}
              </td>
              <td>
                {% if d.cluster_status == 1 %}
                <a href="/show/node_status/{{hostname}}/?from=pool_status" role="button" class="btn btn-default">Node info.. </a>
                {%else%}
                <a href="/show/node_status/{{hostname}}/?from=pool_status" role="button" class="btn btn-warning">Node info.. </a>
                {%endif%}
              </td>
            </tr>
        {%endif%}
      {%endif%}
    {%endfor%}
  </tbody>
</table>

{%if num_free_nodes > 0 %}
  <b> Storage nodes not currently in use </b>


  <table class="table table-bordered table-condensed table-hover datatable" style="width:800px">
    <thead>
      <tr>
        <th>
          Node name
        </th>
        <th>
          Node details
        </th>
      </tr>
    </thead>
    <tbody>
      {% for hostname, d in system_info.items %}
        {% if d.node_status >= 0 %}
          {% if not d.in_cluster %}
              <tr>
                <td>
                  {{hostname}}
                </td>
                <td>
                  <a href="/show/node_status/{{hostname}}/?from=pool_status" role="button" class="btn btn-default">Node info.. </a>
                </td>
              </tr>
          {%endif%}
        {%endif%}
      {%endfor%}
    </tbody>
  </table>
{%else%}
  <b> All storage nodes are currently in use. No free storage nodes available. </b>
{%endif%}

{%endblock%}

{%block help_header%}
  System status help
{%endblock%}

{%block help_body%}
  <p>Help about system status…</p>
{%endblock%}

