{% extends 'logged_in_base.html' %}


{%block status_selected%}
  style="background-color:white;color:white;"
{%endblock%}

{%block page-header%}
  Volume Configuration
  <br /><small>
      Volumes
      <i class="fa fa-angle-double-right smaller-80"></i>
      View Volume Configuration
  </small>
{%endblock%}

{%block contents%}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  {%if volume_info_list %}

    <table class="table table-bordered table-striped table-hover table-condensed datatable" width="90%">
      <thead>
        <tr>
          <th> Volume name </th>
          <th> Type </th>
          <th> Access Mode </th>
          <th> Status </th>
          <th> Details</th>
        </tr>
      </thead>
      <tbody>
        {% for o in volume_info_list%}
        <tr>
          <td>{{o.name}}</td>
          <td>{{o.type}}</td>
          <td>{%if o.name in iscsi_volumes %} ISCSI block access {%else%} NFS/CIFS File based access{%endif%}</td>
          <td>{{o.status_str}}</td>
          <td> 
                <a href="/show/volume_info/{{o.name}}" role="button" class="btn btn-default">Details.. </a>
          </td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  {%else %}
    No volumes created
  {% endif %}
{%endblock%}

{%block help_header%}
Volume information
{%endblock%}

{%block help_body%}
  <p>This page lists all data volumes that have been created along with brief details about its configuration. For more details, please select the desired volume.</p>
{%endblock%}

{%block datatables%}
      $('.datatable').DataTable({
        ordering: true,
        paging: false,
        responsive: true,
        aoColumnDefs: [
          { aTargets: [4], bSortable: false }
        ],
        aaSorting: [ [0, 'asc'] ],   
    });
{%endblock%}
