{% extends 'logged_in_base.html' %}


{%block page-header%}
  Dash Board
  <br /><small>
      Home 
      <i class="fa fa-angle-double-right smaller-80"></i>
      Dashboard
  </small>
{%endblock%}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="myModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{%block contents%}

<!-- <h4>Status</h4>
<table class="table table-hover table-bordered">
<tr>
  <th>
    Component
  </th>
  <th>
    Status
  </th>
  <th>
    Details
  </th>
</tr>
{% if total_nodes > 0 %}
{% if num_nodes_bad > 0 %}
  <tr  class="warning">
{%else%}
  <tr>
{%endif%}
    <td>
      Platform status
    </td>
    <td>
      {% if num_nodes_bad > 0 %} <i class="fa fa-bell faa-ring animated"></i> {{num_nodes_bad}} GRIDCell(s) have problems {%else%} <i class="fa fa-check-circle-o green fa-2x"></i> All Healthy{%endif%}
    </td>
    <td>
      <a href="/show/system_status" role="button" {%if num_nodes_bad > 0 %}class=" btn btn-warning">Detail s<i class="fa fa-bell-o"></i> {%else%}class="btn btn-success">Details <i class="fa fa-arrow-right"></i>{%endif%} </a>
    </td>
  </tr>
{%endif%}
{% if total_pool > 0 %}
{% if num_pools_bad > 0 %}
  <tr  class="warning">
{%else%}
  <tr>
{%endif%}
    <td>
      Storage pool status
    </td>
    <td>
      {% if num_pools_bad > 0 %} <i class="fa fa-bell faa-ring animated"></i> {{num_pools_bad}} GRIDCell(s) have problems {%else%} <i class="fa fa-check-circle-o green fa-2x"></i> All Healthy{%endif%}
    </td>
    <td>
      <a href="/show/pool_status" role="button" {%if num_nodes_bad > 0 %}class=" btn btn-warning">Detail s<i class="fa fa-bell-o"></i> {%else%}class="btn btn-success">Details <i class="fa fa-arrow-right"></i>{%endif%} </a>
    </td>
  </tr>
{%endif%}
{% if total_pool > 0 %}
{% if num_vols_bad > 0 %}
  <tr  class="warning">
{%else%}
  <tr>
{%endif%}
    <td>
      Volume status
    </td>
    <td>
      {% if num_vols_bad > 0 %} <i class="fa fa-bell faa-ring animated"></i> {{num_vols_bad}} GRIDCell(s) have problems {%else%} <i class="fa fa-check-circle-o green fa-2x"></i> All Healthy{%endif%} 
    </td>
    <td>
      <a href="/show/volume_status_all" role="button" {%if num_nodes_bad > 0 %}class=" btn btn-warning">Detail s<i class="fa fa-bell-o"></i> {%else%}class="btn btn-success">Details <i class="fa fa-arrow-right"></i>{%endif%} </a>
    </td>
  </tr>
{%endif%}
</table>


<h4>Space utilization</h4>
  <div class="row">
    {% for v in volume_info_list %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <div class="chart" data-percent="{{v.size_used_percent}}"></div>
        <span class="label label-primary white">{{v.name}} &nbsp; {{v.size_used_percent}}%</span>        
      </div>
    {%endfor%}
</div>

 -->

<div class="row margin-left-1">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="box">
      <div class="box-header">
          <h3 class="box-title">Platform Status</h3>
          <div class="box-tools pull-right">
              <button data-original-title="Collapse" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title=""><i class="fa fa-minus"></i></button>
          </div>
      </div>
      <div class="box-body">
        {% if num_nodes_bad > 0 %} <i class="fa fa-bell faa-ring animated orange"></i> {{num_nodes_bad}} GRIDCell(s) have problems{%endif%}
        <p>
        <br />
          <table>
            <thead>
              <th> GRIDCell Name</th>
              <th> Status </th>
            </thead>
            <tbody>
               {%for k,v in nodes.items%}
                <tr>
                    <td><span class="text">{{k}}</span> </td>
                    <td> {%if v == 0%}<small class="label label-success white"><i class="fa fa-check-circle-o "></i> Online</small>{%else%}<small class="label label-danger white"><i class="fa fa-remove"></i> Offline</small>{%endif%} </td>
                  </tr>
                {%endfor%}
            </tbody>
          </table>
        </p>
      </div><!-- /.box-body -->
      <div class="box-footer">
          <a href="/show/system_status" role="button" {%if num_nodes_bad > 0 %}class="btn btn-warning">More Details<i class="fa fa-bell-o"></i> {%else%}class="btn btn-success">More Details <i class="fa fa-arrow-right"></i>{%endif%} </a>
      </div><!-- /.box-footer-->
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="box">
      <div class="box-header">
          <h3 class="box-title">Storage Pool Status</h3>
          <div class="box-tools pull-right">
              <button data-original-title="Collapse" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title=""><i class="fa fa-minus"></i></button>
          </div>
      </div>
      <div class="box-body">
        {% if num_pools_bad > 0 %} <i class="fa fa-bell faa-ring animated orange"></i> {{num_pools_bad}} GRIDCell(s) have problems{%endif%}
          <table>
            <thead>
              <th>Storage Pool On</th>
              <th> Status </th>
            </thead>
            <tbody>
              {%for k,v in storage_pool.items%}
                <tr>
                    <td><span class="text">{{k}}</span> </td>
                    <td> {%if v == "Peer in Cluster"%}<small class="label label-success white"><i class="fa fa-check-circle-o "></i> Healthy</small>{%else%}<small class="label label-danger white"><i class="fa fa-remove"></i> Offline</small>{%endif%} </td>
                  </tr>
              {%endfor%}  
            </tbody>
          </table>
      </div><!-- /.box-body -->
      <div class="box-footer">
          <a href="/show/pool_status" role="button" {%if num_nodes_bad > 0 %}class="btn btn-warning">More Details<i class="fa fa-bell-o"></i> {%else%}class="btn btn-success">More Details <i class="fa fa-arrow-right"></i>{%endif%} </a>
      </div><!-- /.box-footer-->
    </div>
  </div>
</div>
<div class="row margin-left-1">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="box">
      <div class="box-header">
          <h3 class="box-title">Volume Status<h3>
          <div class="box-tools pull-right">
              <button data-original-title="Collapse" class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title=""><i class="fa fa-minus"></i></button>
          </div>
      </div>
      <div class="box-body">
        {% if num_vols_bad > 0 %} <i class="fa fa-bell faa-ring animated orange"></i> {{num_vols_bad}} Volumes(s) have problems{%endif%}
        <div class="row">
          {% for v in volume_info_list %}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <div class="chart" data-percent="{{v.size_used_percent}}"></div>
              &nbsp;&nbsp;&nbsp;<div class="label label-primary white">{{v.name}} &nbsp; {{v.size_used_percent}}%</div>  
            </div>
          {%endfor%}
      </div>
      </div><!-- /.box-body -->
      <div class="box-footer">
          <a href="/show/volume_status_all" role="button" {%if num_nodes_bad > 0 %}class="btn btn-warning">More Details<i class="fa fa-bell-o"></i> {%else%}class="btn btn-success">More Details <i class="fa fa-arrow-right"></i>{%endif%} </a>
      </div><!-- /.box-footer-->
    </div>
  </div>
</div>
<script type="text/javascript" src="/static/js/jquery.easypiechart.min.js"></script>
<link rel="stylesheet"type="text/css" href="/static/css/jquery.easy-pie-chart.css">

<script type="text/javascript">
$(function() {
    $('.chart').easyPieChart({
      barColor : function(percent){
                        if (percent <= 50)
                          return 'green'
                        else if (percent >50 && percent <= 75)
                          return 'orange'
                        else 
                          return 'red'
                      },
      lineCap : 'round',
      lineWidth : 15,
      trackColor: '#eee',
      animate : true,
      size : 150,
    });
});
</script>
{%endblock%}
{%block help_header%}
System status help
{%endblock%}
{%block help_body%}
<p>Help about system status…</p>
{%endblock%}

