
{% extends 'logged_in_base.html' %}

{%block contents%}

<span id="topic-text">Hardware scan result</span><br>

This hardware scan discovered {{manifest|length}} GRIDCell{{manifest|length|pluralize}}. GRIDCell details are shown below. <br>

Please scroll down to the end to approve and accept this configuration.<br><br>

<table class="table table-bordered" style="width:60%">
{% for node_name, node in manifest.items %}
<tr style="background:#F8F8F8">
<th colspan=2>
GRIDCell name : {{node_name}}
</th>
</tr>
<tr>
<th style="width:40%">
Disk information
</th>
<td>
{%for disk in node.disks %}
Disk {{forloop.counter1}} : {{disk.capacity}}<br>
{%endfor%}
</td>
</tr>
<tr>
<th>
Network interface information
</th>
<td>
{% for nic_name, nic in node.interfaces.items %}
Interface {{forloop.counter1}} IP addr: {{nic.ip}}<br>
{%endfor%}
</td>
</tr>
{%endfor%}
</table>

<form method="POST" action="/accept_manifest/">
<input type="hidden" name="manifest" value="{{manifest_file}}">
<input class="btn btn-primary cover-page" type="submit" value="Confirm and accept this configuration >>">
</form>
{%endblock%}
