{% extends 'volume_base.html' %}
<script type="text/javascript">
function subm() {

  var el = document.forms[0].elements["vol_type"]
  val=""
  for (i=0;i<el.length;i++) {
    if (el[i].checked)
      val = el[i].value
  }
  if (val == "replicated")
    document.forms[0].action = "/create_volume_conf/";
//    document.forms[0].action = "/volume_creation_wizard/repl_count/";
  else if (val == "distributed")
    document.forms[0].action = "/create_volume_conf/";
  else {
    alert("Please make a selection");
    return false;
  }
  document.forms[0].submit();
  return true;

}
</script>


{%block status_selected%}
  style="background-color:white;color:white;"
{%endblock%}

{%block tab_header%}
  Volume creation wizard - data access method selection
{%endblock%}

{%block inside_content %}




<form  role="form" action="/volume_creation_wizard/select_vol_type" method="post">
{{ form.vol_name }}

	<div  style=" position:relative;border:0px solid #DDDDDD;width:600px; padding:15px 15px 15px;margin:0px 15px;border-radius:4px 4px 0px 0px">
          <div class="form-group" >
            <label for="id_vol_access">How will the data in this volume be accessed?</label>
            {% for choice in form.vol_access.field.choices %} 
                <label class="radio">
                  <input type="radio" name="vol_access" id="id_{{choice.0}}" value="{{choice.0}}" {%if choice.0 == form.initial.vol_access %} checked{%endif%} />{{choice.1}}
                </label>
            {%endfor%}
            {{ form.vol_access.errors }}
          </div>
          <button type="submit" class="btn btn-primary" onClick="subm();return false;" >Next</button>
	</div>
</form>


{%endblock%}
{%block help_header%}
Volume creation help
{%endblock%}
{%block help_body%}
<p>The volume creation wizard guides you through many steps to create a particular type of volume. Use this screen to decide whether you want the volume for file based access of block access.</p>
{%endblock%}
