
      <tr>
        <td>
          <label for="id_vol">Volume :</label>
        </td>
        <td>
          <select id="id_vol" name="vol" class="form-control">
          {% for choice in vol_list %} 
            <option value="{{choice}}" {%if vol_name == choice%} selected="selected" {%endif%}>{{choice}}</option>
          {%endfor%}
          </select>
        </td>
        <td>
      {{ form.vol.errors }}
        </td>
      </tr>

      <tr>
        <td>
          <label for="id_path">Select parent directory :</label>
        </td>
        <td>
          <input type="text"  name="path" class="form-control" id="id_path" placeholder="Click the Browse button to choose the parent directory" disabled> 
          <a href="#" class="btn btn-info" onClick="displayTree();return true;"> Browse..</a>
          <div id="pathdiv" style="display:inline"></div>
        </td>
        <td>
          {{ form.path.errors }}
        </td>
      </tr>
      <tr>
        <td>
          <label for="id_final_path">Final Path :</label>
        </td>
        <td>
          <input id="id_final_path" name="final_path" class="form-control" readonly>
        </td>
        <td>
        </td>
      </tr>

  <script src="/static/jstree/dist/jstree.js"></script>
  <script>
    function displayTree() {
        $('#pathdiv').jstree({ 'core' : {
          'multiple':false,
          'data' : {
            'full_path': 'dummy',
            'url' : function (node) {
              return node.id === '#' ? 
                '/show/dir_contents?first=1&dir=/' : 
                '/show/dir_contents'; 
            },
            'data' : function (node) {
              var e = document.getElementById("id_vol");
              if (node.data) {
                return {  'dir' : node.data['dir'] , 'id':node.id, "vol_name": e.options[e.selectedIndex].value};
              }
              else
                return { 'dir' : node.text , 'id':node.id, "vol_name": e.options[e.selectedIndex].value};
            }
          }
        }
      });
   $(function () {
      $('#pathdiv').on('changed.jstree', function (e, data) {
          var i, j, r = [];
          var e = document.getElementById("id_vol");
          r = data.instance.get_node(data.selected[0]).text;
          rfp = data.instance.get_node(data.selected[0]).data["dir"];
          var path = rfp;
          var vol_name  = e.options[e.selectedIndex].value;
          document.getElementById("pathdiv").style.display = "none";
          document.getElementById("id_final_path").value="/"+vol_name+path;
          changed_vol_params(vol_name,path);
        })
        .jstree();
    });
    }        
  </script>

