{% extends 'logged_in_base.html' %}


{%block contents%}

<!-- Modal -->
<div class="modal fade" id="processing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="myModalBody">
        <br><br><br>
        <img src="/static/images/4.gif" >
        <br><br><br>
        <p id="p-node-text">Processing.. Please wait.
        <br><br><br>
      </div>
    </div>
  </div>
</div>

{% if op == 'vol_delete' %}
<span id="topic-text">Volumes -> Delete a volume</span><br>
{% elif op == 'expand_volume' %}
<span id="topic-text">Volumes -> Expand a volume</span><br>
{% elif op == 'view_snapshots' %}
<span id="topic-text">Snapshots -> View snapshots</span><br>
{% elif op == 'vol_quota' %}
<span id="topic-text">Volumes -> Set volume quota</span><br>
{% elif op == 'vol_stop' %}
<span id="topic-text">Volumes -> Stop a volume</span><br>
{% elif op == 'vol_start' %}
<span id="topic-text">Volumes -> Start a volume</span><br>
{% elif op == 'start_rebalance' %}
<span id="topic-text">Volumes -> Start volume rebalance</span><br>
{% elif op == 'check_rebalance' %}
<span id="topic-text">Volumes -> Check volume rebalance status</span><br>
{% elif op == 'stop_rebalance' %}
<span id="topic-text">Volumes -> Stop volume rebalance</span><br>
{% elif op == 'enable_quota' %}
<span id="topic-text">Volumes -> Enable volume quota</span><br>
{% elif op == 'vol_options' %}
<span id="topic-text">Volumes -> Set volume options</span><br>
{% elif op == 'disable_quota' %}
<span id="topic-text">Volumes -> Disable volume quota</span><br>
{% elif op == 'display_disk_level_quota' %}
<span id="topic-text">Volumes -> Display disk level quota</span><br>
{% elif op == 'rotate_log' %}
<span id="topic-text">Logging -> Rotate volume log</span><br>
{% endif %}


<p style="color:red;"> {{error}}</p>

{% if no_vols %}
{% if op == "vol_stop" or op == "expand_volume" or op ==  "start_rebalance" %}
This operation requires a volume to be started first. None of the existing volume(s) are started.
{%elif op == "vol_start" %}
No applicable volumes
{%else%}
No volumes detected
{%endif%}
{%else %}
<form action="" method="post">
  <input type=hidden name="op" value="{{op}}">
<div  style=" position:relative;border:0px solid #DDDDDD;width:400px; padding:15px 15px 15px;margin:0px 15px;border-radius:4px 4px 0px 0px">
  <div class="form-group" >
    <label for="id_vol_name" >Volume name :</label>
    <select name="vol_name" class="form-control">
    {% for choice in form.vol_name.field.choices %} 
      <option value="{{choice.0}}">{{choice.1}}</option>
    {%endfor%}
    </select>
    {{ form.vol_name.errors }}
  </div>
{% if op == 'vol_start' %}
        <button type="submit" class="btn btn-primary" onClick ="$('#processing').modal('show');">Start this volume >></button>
{% elif op == 'vol_stop' %}
        <button type="submit" class="btn btn-primary">Stop this volume >></button>
{% elif op == 'expand_volume' %}
        <button type="submit" class="btn btn-primary">Expand this volume >></button>
{% elif op == 'start_rebalance' %}
        <button type="submit" class="btn btn-primary">Start rebalance >></button>
{% elif op == 'stop_rebalance' %}
        <button type="submit" class="btn btn-primary">Stop rebalance >></button>
{% elif op == 'check_rebalance' %}
        <button type="submit" class="btn btn-primary">Check rebalance >></button>
{% elif op == 'vol_options' %}
        <button type="submit" class="btn btn-primary">Set options >></button>
{% elif op == 'view_snapshots' %}
        <button type="submit" class="btn btn-primary">View snapshots >></button>
{% elif op == 'rotate_log' %}
        <button type="submit" class="btn btn-primary" onClick ="$('#processing').modal('show');">Rotate log>></button>
{% else  %}
        <button type="submit" class="btn btn-primary">Next >></button>
{% endif %}
</div>
</form>
{% if op == "vol_stop" or op == "expand_volume" or op ==  "start_rebalance" %}
This operation requires the volume to be started. If you do not see a volume here, please first check to make sure it is started.
{%endif%}


{%endif%}

{%endblock%}
{%block help_header%}
Volume specific op help
{%endblock%}
{%block help_body%}
<p>Help about Volume specific op - needs customisation…</p>
{%endblock%}
