{% extends 'volume_base.html' %}


{%block tab_header%}
{% if op == 'vol_delete' %}
      Delete a volume - confirmation
{% elif op == 'vol_stop' %}
  Stop a volume - confirmation
{% endif %}
{%endblock%}

{%block inside_content %}
<br><br>

<!-- Modal -->
<div class="modal fade" id="processing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="myModalBody">
        <br><br><br>
        <img src="/static/images/4.gif" >
        <br><br><br>
        <p id="p-node-text">Processing.. Please wait.
        <br><br><br>
      </div>
    </div>
  </div>
</div>



<p id="p-warning-text">{{op_conf_msg}} </p>
<br>
{% if op == 'vol_delete' %}
<form action="/delete_volume/" method="POST">
{%else%}
<form action="/perform_op/{{op}}/{{vol_name}}/" method="POST">
{% endif %}
<input type=hidden name="vol_name" value="{{vol_name}}">
<input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/show/volume_info/{{vol_name}}'"> &nbsp;&nbsp;
<button type="submit" class="btn btn-primary" onClick ="$('#processing').modal('show');">Continue </button>
</form>





{%endblock%}
{%block help_header%}
Volume specific operation - confirmation
{%endblock%}
{%block help_body%}
<p> This confirmation screen is being displayed because this operation will either cause a data access disruption or removal of data. Please ensure that this is the intended operation before proceeding. </p>
{%endblock%}
{% block tab_active %}
  <script>
    make_tab_active('volume_configuration_tab')
  </script>
{% endblock %}
