{% extends 'volume_base.html' %}

{%block tab_header%}
  Set volume options for volume "{{form.vol_name.value}}"
{%endblock%}

<script type="text/javascript">
  function set_field_visibility() {
    var readonly = document.forms["edit_form"].elements["readonly"].value;
    if (readonly == "on") {
      document.forms["edit_form"].elements["nfs_disable"].disabled = true;
      document.forms["edit_form"].elements["nfs_volume_access"].disabled = true;
      document.forms["edit_form"].elements["enable_worm"].disabled = true;
      document.forms["edit_form"].elements["enable_worm"].checked = false;
    } else {
      document.forms["edit_form"].elements["nfs_disable"].disabled = false;
      document.forms["edit_form"].elements["nfs_volume_access"].disabled = false;
      document.forms["edit_form"].elements["enable_worm"].disabled = false;
      var nfs_disable = document.forms["edit_form"].elements["nfs_disable"];
      if (nfs_disable.checked) {
        document.forms["edit_form"].elements["nfs_volume_access"].disabled = true;
      }else {
        document.forms["edit_form"].elements["nfs_volume_access"].disabled = false;
      }
    }
  }
</script>

{%block inside_content %}
  <form  id="edit_form" action="/set_volume_options/" method="post">
    {{ form.vol_name }}
    <div class="row" style="vertical-align:middle;width:100%;margin:0 auto;border-top:0px solid #eee;padding-bottom:10px;border-bottom:0px solid #eee">
      <div class="col-sm-2" style="vertical-align:middle;padding-left:0px;border:0px solid">
        <label for="id_auth_allow" >Allowed IP addresses:</label>
      </div>
      <div class="col-sm-7" style="padding-left:0px;border:0px solid">
        <input type="text"  name="auth_allow" class="form-control" id="id_auth_allow" placeholder="Allowed IP addresses" {% if form.initial.auth_allow %}value="{{form.initial.auth_allow}}" {%endif%}> 
      </div>
      <div class="col-sm-3" style="padding-left:0px;border:0px solid">
        {{ form.auth_allow.errors }}
      </div>
    </div>
    <div class="row" style="width:100%;margin:0 auto;border-top:0px solid #eee;padding-bottom:10px;border-bottom:0px solid #eee">
      <div class="col-sm-2" style="padding-left:0px;border:0px solid">
        <label for="id_auth_reject" >Denied IP addresses:</label>
      </div>
      <div class="col-sm-7" style="padding-left:0px;border:0px solid">
        <input type="text"  name="auth_reject" class="form-control" id="id_auth_reject" placeholder="Denied IP addresses" {% if form.initial.auth_reject %}value="{{form.initial.auth_reject}}" {%endif%}> 
      </div>
      <div class="col-sm-3" style="padding-left:0px;border:0px solid">
        {{ form.auth_reject.errors }}
      </div>
    </div>
    <div class="row" style="width:100%;margin:0 auto;border-top:0px solid #eee;padding-bottom:10px;border-bottom:0px solid #eee">
      <div class="col-sm-2" style="padding-left:0px;border:0px solid">
        <label for="id_readonly" >Volume access mode:</label>
      </div>
      <div class="col-sm-7" style="padding-left:0px;border:0px solid">
        <select name="readonly" class="form-control" onChange="set_field_visibility();">
          {% for choice in form.readonly.field.choices %} 
            <option value="{{choice.0}}" {%if form.initial.readonly == choice.0%} selected="selected" {%endif%}>{{choice.1}}</option>
          {%endfor%}
        </select>
      </div>
      <div class="col-sm-3" style="padding-left:0px;border:0px solid">
        {{ form.readonly.errors }}
      </div>
    </div>
    <div class="row" style="width:100%;margin:0 auto;border-top:0px solid #eee;padding-bottom:10px;border-bottom:0px solid #eee">
      <div class="col-sm-2" style="padding-left:0px;border:0px solid">
        <label for="id_enable_worm"> Enable WORM (Write Once Read Many) </label>
      </div>
      <div class="col-sm-7" style="padding-left:0px;border:0px solid">
        <input name="enable_worm" type="checkbox" {% if form.initial.enable_worm%} checked="checked" {%endif%} onClick="set_field_visibility();">
      </div>
      <div class="col-sm-3" style="padding-left:0px;border:0px solid">
        {{ form.enable_worm.errors }}
      </div>
    </div>
    <div class="row" style="width:100%;margin:0 auto;border-top:0px solid #eee;padding-bottom:10px;border-bottom:0px solid #eee">
      <div class="col-sm-2" style="padding-left:0px;border:0px solid">
        <label for="id_nfs_disable"> Disable NFS access </label>
      </div>
      <div class="col-sm-7" style="padding-left:0px;border:0px solid">
        <input name="nfs_disable" type="checkbox" {% if form.initial.nfs_disable%} checked="checked" {%endif%} onClick="set_field_visibility();">
      </div>
      <div class="col-sm-3" style="padding-left:0px;border:0px solid">
        {{ form.nfs_disable.errors }}
      </div>
    </div>
    <div class="row" style="width:100%;margin:0 auto;border-top:0px solid #eee;padding-bottom:10px;border-bottom:0px solid #eee">
      <div class="col-sm-2" style="padding-left:0px;border:0px solid">
        <label for="id_nfs_volume_access" >NFS access mode:</label> 
      </div>
      <div class="col-sm-7" style="padding-left:0px;border:0px solid">
        <select name="nfs_volume_access" class="form-control" >
          {% for choice in form.nfs_volume_access.field.choices %} 
            <option value="{{choice.0}}" {%if form.initial.nfs_volume_access == choice.0%} selected="selected" {%endif%}>{{choice.1}}</option>
          {%endfor%}
        </select>
      </div>
      <div class="col-sm-3" style="padding-left:0px;border:0px solid">
        {{ form.nfs_volume_access.errors }}
      </div>
    </div>
    <div class="btn-group btn-group-sm " >
      <input type="button" class="btn btn-default" value="Cancel" onClick="window.location='/view_volume?vol_name={{form.vol_name.value}}'"> &nbsp;&nbsp;
      <button type="submit" class="btn btn-primary cover-page">Save </button>
    </div>
  </form>

  <script type="text/javascript">
    set_field_visibility();
  </script>

{%endblock%}

{%block help_header%}
  Set Volume options 
{%endblock%}

{%block help_body%}
  <p>This page allows you to set and change various options for each data volume. </p><p> IP based access control is currently the only way of controlling access for NFS clients. </p><p>The WORM option allows you to prevent any changes to existing files. Files can only be appended to or new files created, when this option is set.</p>
{%endblock%}

{% block tab_active %}
  <script>
    make_tab_active('view_volumes_tab')
  </script>
{% endblock %}

