{% extends 'logged_in_base.html' %}

{%block page-header%}
  Volumes
  <br /><small>
      Volumes 
      <i class="fa fa-angle-double-right smaller-80"></i>
      {% if op == 'vol_delete' %}
        Delete a volume
        {% elif op == 'expand_volume' %}
        Expand a volume
        {% elif op == 'view_snapshots' %}
        View snapshots
        {% elif op == 'vol_quota' %}
        Set volume quota
        {% elif op == 'vol_stop' %}
        Stop a volume
        {% elif op == 'vol_start' %}
        Start a volume
        {% elif op == 'start_rebalance' %}
        Start volume rebalance
        {% elif op == 'check_rebalance' %}
        Check volume rebalance status
        {% elif op == 'stop_rebalance' %}
        Stop volume rebalance
        {% elif op == 'enable_quota' %}
        Enable volume quota
        {% elif op == 'vol_options' %}
        Set volume options
        {% elif op == 'disable_quota' %}
        Disable volume quota
        {% elif op == 'display_disk_level_quota' %}
        Display disk level quota
        {% elif op == 'rotate_log' %}
        Rotate volume log
        {% endif %}
  </small>
{%endblock%}

{%block contents%}

<!-- Modal -->
<div class="modal fade" id="processing" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" id="myModalBody">
        <br><br><br>
        <img src="/static/images/4.gif" >
        <br><br><br>
        <p id="p-node-text">Processing.. Please wait.
        <br><br><br>
      </div>
    </div>
  </div>
</div>

<p style="color:red;"> {{error}}</p>

{% if no_vols %}
{% if op == "vol_stop" or op == "expand_volume" or op ==  "start_rebalance" %}
This operation requires a volume to be started first. None of the existing volume(s) are started or no volumes exist.
{%elif op == "vol_start"  or op == "vol_delete" %}
This operation requires a volume to be stopped first. None of the existing volume(s) are started or no volumes exist.
{%else%}
No volumes detected
{%endif%}
{%else %}
<form action="" method="post">
  <input type=hidden name="op" value="{{op}}">
<div  style=" position:relative;border:0px solid #DDDDDD;width:400px; padding:15px 15px 15px;margin:0px 15px;border-radius:4px 4px 0px 0px">
  <div class="form-group" >
    <label for="id_vol_name" >Volume name :</label>
    <select name="vol_name" class="form-control">
    {% for choice in form.vol_name.field.choices %} 
      <option value="{{choice.0}}">{{choice.1}}</option>
    {%endfor%}
    </select>
    {{ form.vol_name.errors }}
  </div>
{% if op == 'vol_start' %}
        <button type="submit" class="btn btn-primary" onClick ="$('#processing').modal('show');">Start this volume >></button>
{% elif op == 'vol_stop' %}
        <button type="submit" class="btn btn-primary">Stop this volume >></button>
{% elif op == 'expand_volume' %}
        <button type="submit" class="btn btn-primary">Expand this volume >></button>
{% elif op == 'start_rebalance' %}
        <button type="submit" class="btn btn-primary">Start rebalance >></button>
{% elif op == 'stop_rebalance' %}
        <button type="submit" class="btn btn-primary">Stop rebalance >></button>
{% elif op == 'check_rebalance' %}
        <button type="submit" class="btn btn-primary">Check rebalance >></button>
{% elif op == 'vol_options' %}
        <button type="submit" class="btn btn-primary">Set options >></button>
{% elif op == 'view_snapshots' %}
        <button type="submit" class="btn btn-primary">View snapshots >></button>
{% elif op == 'rotate_log' %}
        <button type="submit" class="btn btn-primary" onClick ="$('#processing').modal('show');">Rotate log>></button>
{% else  %}
        <button type="submit" class="btn btn-primary">Next >></button>
{% endif %}
</div>
</form>
{% if op == "vol_stop" or op == "expand_volume" or op ==  "start_rebalance" %}
This operation requires the volume to be started. If you do not see a volume here, please first check to make sure it is started.
{%endif%}


{%endif%}

{%endblock%}
{%block help_header%}
Volume specific op help
{%endblock%}
{%block help_body%}
<p>Help about Volume specific op - needs customisation…</p>
{%endblock%}
