{% extends 'logged_in_base.html' %}

{%block contents%}
<b> Share management</b>

<p>We use the comprehensive and easy to use open source tool SWAT to manage shares. Clicking on the link below will take you to another window in which you can use SWAT to manage your shares. When you wish to return to this window, click on the link on top of the SWAT window.</p>

<a href="/launch_swat" target="_new">Click here</a> to launch the SWAT window and manage your shares.
{%endblock%}

{%block help_header%}
Share management help
{%endblock%}
{%block help_body%}
  <p>Help about managing shares…</p>
{%endblock%}
