{% extends 'logged_in_base.html' %}
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: white;
        color: red;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>


{%block contents%}
<span id="topic-text">Manage -> Samba server settings -> Security settings</span><br>

<p id="p-instruction-text">{{conf}}</p>

        <div class="field">
            <table class="table table-bordered">
            <tr>
              <th>
              Authentication mode:
              </th>
              <td>
            {{ security }}
              </td>
            </tr>
            <tr>
              <th>
              Authentication server:
              </th>
              <td>
            {{ password_server }}
              </td>
            </tr>
            <tr>
              <th>
              Kerberos realm:
              </th>
              <td>
            {{ realm }}
              </td>
            </tr>
            {% if security != "domain" %}
            <tr>
              <th>
              Encrypt passwords:
              </th>
              <td>
            {{ encrypt_passwords }}
              </td>
            </tr>
            {%endif%}
            <tr>
              <th>
            Guest account:
              </th>
              <td>
              {% if guest_account == "nobody" %}
              No guest account
              {%else%}
                {{ guest_account}}
              {%endif%}
              </td>
            </tr>
            <tr>
              <td colspan=2 style="text-align:center">
              <a href="/samba_server_settings_security?action=edit" role="button" class="btn" >Edit</a>
              </td>
            </tr>
            </table>
        </div>

{%endblock%}
{%block help_header%}
Samba server security settings help
{%endblock%}
{%block help_body%}
<p>Help about  samba server security settings…</p>
{%endblock%}
