{% extends 'logged_in_base.html' %}
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: white;
        color: red;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>


{%block contents%}
<span id="topic-text">Manage -> Samba server settings -> Basic settings</span><br>

<p id="p-instruction-text">{{conf}}</p>

        <div class="field">
            <table class="table table-bordered">
            <tr>
              <th>
              Workgroup:
              </th>
              <td>
            {{ workgroup }}
              </td>
            </tr>
            <tr>
              <th>
            Description:
              </th>
              <td>
            {{ server_string }}
              </td>
            </tr>
            <tr>
              <td colspan=2 style="text-align:center">
              <a href="/samba_server_settings_basic?action=edit" role="button" class="btn" >Edit</a>
              </td>
            </tr>
            </table>
        </div>

{%endblock%}
{%block help_header%}
Samba server basic settings help
{%endblock%}
{%block help_body%}
<p>Help about basic samba server settings…</p>
{%endblock%}
