{% extends 'logged_in_base.html' %}
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: white;
        color: red;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>


{%block contents%}
<span id="topic-text">Manage -> Samba server settings -> Basic settings (Edit)</span><br>


{{conf_message}}



<form action="/save_samba_server_settings_basic/" method="post">
        <div class="field">
            <table>
            <tr>
              <td>
            <label for="id_workgroup">Workgroup:</label>
              </td>
              <td>
            {{ form.workgroup }}
              </td>
              <td>
            {{ form.workgroup.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_server_string">Description:</label>
              </td>
              <td>
            {{ form.server_string }}
              </td>
              <td>
            {{ form.server_string.errors }}
              </td>
            </tr>
            <tr>
              <td colspan=3 style="text-align:center">
        <button type="submit" class="btn"> Save </button>
              </td>
            </tr>
            </table>
        </div>
</form>

{%endblock%}
{%block help_header%}
Samba server basic settings help
{%endblock%}
{%block help_body%}
<p>Help about basic samba server settings…</p>
{%endblock%}
