{% extends 'logged_in_base.html' %}
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: white;
        color: red;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>


{%block contents%}
<b> Samba share - Basic settings
<span id="topic-text">Manage -> Samba shares -> Basic settings</span><br>



<p style="color:red;"> {{error}}</p>
{{conf_message}}



<form action="/samba_share_settings_basic/" method="post">
{{ form.old_name }}
        <div class="field">
            <table>
            <tr>
              <td>
            <label for="id_name">Share name:</label>
              </td>
              <td>
            {{ form.name }}
              </td>
              <td>
            {{ form.name.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_path">Directory:</label>
              </td>
              <td>
            {{ form.path }}
              </td>
              <td>
            {{ form.path.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_comment">Description:</label>
              </td>
              <td>
            {{ form.comment }}
              </td>
              <td>
            {{ form.comment.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_readonly">Readonly:</label>
              </td>
              <td>
            {{ form.readonly }}
              </td>
              <td>
            {{ form.readonly.errors }}
              </td>
            </tr>
            <tr>
              <td>
            <label for="id_browseable">Visible:</label>
              </td>
              <td>
            {{ form.browseable }}
              </td>
              <td>
            {{ form.browseable.errors }}
              </td>
            </tr>
            <tr>
              <td colspan=3 style="text-align:center">
        <button type="submit" class="btn"> Save </button>
              </td>
            </tr>
            </table>
        </div>
</form>

{%endblock%}
{%block help_header%}
Edit samba share settings help
{%endblock%}
{%block help_body%}
<p>Edit samba share settings help</p>
{%endblock%}
