{% extends 'logged_in_base.html' %}
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: white;
        color: red;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>


{%block contents%}
<b>Volume creatation -> Create a 
{% if vol_type == "distributed_striped" %} distributed striped 
{% elif vol_type == "distributed_replicated"%} distributed replicated 
{% elif vol_type == "striped_replicated"%} striped replicated 
{% elif vol_type == "distributed_striped_replicated"%} distributed striped replicated 
{% else %} {{vol_type}}
{% endif %}

volume
</b> <br><br>


<p style="color:red;"> {{error}}</p>

<form action="" method="post">
  {{ form.vol_type }}
  <input type=hidden name="vol_type" value="{{vol_type}}">
        <div class="field">
            <table border=0>
            <tr>
              <td>
            <label for="id_num_bricks">Number of bricks:</label>
              </td>
              <td>
            {{ form.num_bricks }}
              </td>
              <td>
            {{ form.num_bricks.errors }}
              </td>
            </tr>
            <tr align="center">
              <td colspan=3 style="text-align:center;">
        <input type="submit" value="Next >>">
              </td>
            </tr>
            </table>
        </div>
</form>


{%endblock%}
{%block help_header%}
Num bricks help
{%endblock%}
{%block help_body%}
<p>Help about num bricks…</p>
{%endblock%}
