{% extends 'logged_in_base.html' %}
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: white;
        color: red;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>

{%block serverlist%}
  {% for i in hostname_list %}
    <li><a href="#">{{i}}</a></li>
  {%endfor%}
{%endblock%}
{%block volumelist%}
  {% for i in volume_list %}
    <li><a href="/volume_specific_op/volume_status/{{i}}">{{i}}</a></li>
  {%endfor%}
{%endblock%}


{%block contents%}
{% if op == 'add_server' %}
<b>Trusted pool setup -> Add a server</b> <br><br>
{% elif op == 'remove_server' %}
<b>Trusted pool setup -> Remove a server</b> <br><br>
{% endif %}


<p style="color:red;"> {{error}}</p>

<form action="/perform_op/{{op}}/" method="post">
        <div class="field">
            <table>
            <tr>
              <td>
            <label for="id_hostname">Host Name:</label>
              </td>
              <td>
            {{ form.hostname }}
              </td>
              <td>
            {{ form.hostname.errors }}
              </td>
            </tr>
            <tr>
              <td colspan=3 align="left">
{% if op == 'add_server' %}
        <input type="submit" value="Add">
{% elif op == 'remove_server' %}
        <input type="submit" value="Remove">
{% endif %}
              </td>
            </tr>
            </table>
        </div>
</form>
{%endblock%}
{%block help_header%}
Server specific op help
{%endblock%}
{%block help_body%}
<p>Help about server specific op - needs customisation…</p>
{%endblock%}
