<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/static/css/a.css">
    <link rel="stylesheet" href="/static/jquery-ui-1.10.2.custom/css/ui-lightness/jquery-ui-1.10.2.custom.css">
     <style>
       .ui-menu {
           width: 200px;
       }
    </style>
    <script src="/static/jquery-ui-1.10.2.custom/js/jquery-1.9.1.js"></script>
    <script src="/static/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.js"></script>
  <title> {%block title%}Datalifecycle admin console - Shares management{%endblock%}</title>
</head>
<body>
  <table id="header_table" width="810px" border=0>
  <tr>
    <td style="text-align:center"> <h2>{%block heading%}Admin Console -Share management{%endblock%}</h2></td>
  </tr>

   <tr style="vertical-align:bottom;"><td style="padding:0px; text-align:center; vertical-align: middle;" > <h4>Click <a href="" onClick="window.close();">here</a> to close this window and return to the main console</h4></td></tr></table>
<div id="container">
   {%block contents%}
  {%endblock%}
</div>
<div id="footer">
   {%block footer%}
    <hr width="830px">
    <p>Dev version. Potentially flawed.</p>
  {%endblock%}
</div>
</div>
</body>
</html>

