
    {%endif%}
    {% if forloop.counter0|divisibleby:2 %}
      <tr>
        <td>
          <table>
          <tr>
            <th colspan=2>
            S{{node.sled}}
            </th>
          </tr>
          <tr>
    {%endif%}
          <th title="Disk {{forloop.counter}}">
          D{{forloop.counter}}
          </th>
            <td  height="40px" 
title="Disk Capacity : {{node.disk_capacity}}, 
Disk Free : {{node.disk_free}} 
{% if node.in_cluster %} 
Volumes on disk : {% for k, v in vol_dict.items %} {% if k == node.IP %} {% for i in v %} {{i}} {%endfor%} {%endif%} {% endfor %} {%else %} Not in storage pool {%endif%}"
            
            {% if not node.in_cluster %} 
            style="background:red" {%else%} style="background:lightgreen"{% endif%}>
            <a href="#myModal" role="button" class="btn" onClick="load_disk_info('{{node.IP}}', 'Sled {{node.sled}} Disk {{forloop.counter}}');">?</a>
            </td>
    {% if not forloop.counter0|divisibleby:2 %}
          </tr>
          </table>
        </td>
      </tr>
    {%endif%}
    {% if forloop.counter0 in [3, 7, 11] %}
    </table>
    </td>
    {%endif%}
    {%endfor%}
  </tr>
</table>





Add sleds - 


<table border=0>
  <tr>
    {%for node in system_config_list%}
    {% if forloop.counter0|divisibleby:2 %}
    <td >
    <table width=100% class="table table-bordered">
      <tr>
        <th>
          S{{node.sled}}
        </th>
      </tr>      
      <tr >
        <td>
          <table width=100% class="table table-bordered">
    {%endif%}
          <tr>
            <th>
            D{%if forloop.counter0|divisibleby:2%}1{%else%}2{%endif%}
            </th>
          </tr>
          <tr>
            <td {%if node.sled == spare_sled%} style="background:blue" {% elif node.sled in free_sled_list%} style="background:lightgreen" {%else%} style="background:red"{% endif%}>
            {% if not node.in_cluster %} 
                {% for ip, display in form.ips.field.widget.choices %}
                  {% if ip == node.IP %}
                    {% if node.sled in free_sled_list %}
                  <input type="checkbox"  value="{{ ip }}" name="ips" checked style="display:None">
                    {%endif%}
                  {%endif%}
                {%endfor%}
            {%endif%}
            </td>
          </tr>
    {% if not forloop.counter0|divisibleby:2 %}
          </table>
        </td>
      </tr>
    </table>
    </td>
    {%endif%}
    {%endfor%}
  </tr>
  <tr>
    <td>
        <input type="submit" value="Add disks">
    </td>
  </tr>
</table>
