{% extends 'logged_in_base.html' %}

{%block status_selected%}
style="background-color:white;color:white;"
{%endblock%}


{%block contents%}

{%if peer_info_list %}

<h3> Trusted pool status</h3>
<table class="table table-bordered table-striped table-condensed">
<tr>
<th> Hostname</th>
<th> Status</th>
</tr>
{% for o in peer_info_list%}
<tr>
<td>{{o.hostname}}</td>
<td>{{o.state}}</td>
</tr>
{%endfor%}
</table>
{% endif %}
{%endblock%}
{%block help_header%}
Trusted pool status help
{%endblock%}
{%block help_body%}
<p>Help about Trusted pool status…</p>
{%endblock%}
