{% extends 'logged_in_base.html' %}
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: white;
        color: red;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>


{%block contents%}
<span id="topic-text"> Configure -> Create a volume - Data distribution count</span><br>
</b> <br><br>



<p style="color:red;"> {{error}}</p>

<form action="/volume_creation_wizard/vol_info" method="post">
<input type=hidden name="vol_type" value="{{vol_type}}">
        <div class="field">
            <table border=0>
            <tr>
              <td colspan=3>
                You have chosen to {% if vol_type == "replicated" %} make multiple copies of  {%else%}spread {%endif%}your data across disks.
              </td>
            </tr>
            <tr>
              <td>
              {% if vol_type == "replicated" %}
            <label for="id_num_bricks">How many copies of each file would you like to store? </label>
              {% else %}
            <label for="id_num_bricks">Over how many disks would you like to spread your data over? </label>
              {% endif %}
              </td>
              <td>
            {{ form.num_bricks }}
              </td>
              <td>
            {{ form.num_bricks.errors }}
              </td>
            </tr>
            <tr align="center">
              <td  style="text-align:center;">
                <a href="/volume_creation_wizard/select_vol_type" role="button" class="btn" data-toggle="modal"><< Previous</a>
              </td>
              <td colspan=2 style="text-align:center;">
                <button type="submit" class="btn">Next >></button>
              </td>
            </tr>
            </table>
        </div>
</form>


{%endblock%}
{%block help_header%}
Volume creation help
{%endblock%}
{%block help_body%}
<p>Help about volume creation…</p>
{%endblock%}
