{% extends 'logged_in_base.html' %}
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: white;
        color: red;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>


{%block contents%}
<span id="topic-text"> Configure -> Create a volume - Data copies</span><br>
</b> <br><br>

<form  action = "/create_volume_conf/" method="post">
<input type=hidden name="vol_name" value="{{vol_name}}">
<input type=hidden name="vol_type" value="{{vol_type}}">


<p style="color:red;"> {{error}}</p>

        <div class="field">
            <table border=0>
            <tr>
              <td>
            How many data copies do you want? 
              </td>
              <td>
            {{ form.repl_count }}
              </td>
            </tr>
            <tr>
              <td colspan = 2 >
            {{ form.repl_count.errors }}
              </td>
            </tr>
            <tr align="center">
              <td  colspan = 2 style="text-align:center;">
                <button type="submit" class="btn">Next >></button>
              </td>
            </tr>
            </table>
        </div>
</form>


{%endblock%}
{%block help_header%}
Volume creation help
{%endblock%}
{%block help_body%}
<p>Help about volume creation…</p>
{%endblock%}
