{% extends 'logged_in_base.html' %}

{%block status_selected%}
style="background-color:white;color:white;"
{%endblock%}


{%block contents%}


<h3> Status of volume {{vol_name}}</h3>
{% for o in volume_status%}
<table class="table table-bordered table-striped table-condensed">
<tr>
<td> <strong> Brick </strong></td>
<td><strong>{{o.name}}</strong></td>
</tr>
<tr>
<td>  Online?</td>
<td> {{o.online}} </td>
</tr>
<tr>
<td>  Total disk space</td>
<td> {{o.disk_space_total}} </td>
</tr>
<tr>
<td>  Disk space free</td>
<td> {{o.disk_space_free}} </td>
</tr>
<tr>
<td>  Filesystem</td>
<td> {{o.file_system}} </td>
</tr>
<tr>
<td>  Device </td>
<td> {{o.device}} </td>
</tr>
<tr>
<td>  Mount options </td>
<td> {{o.mount_options}} </td>
</tr>
</table>
{%endfor%}
{%endblock%}
{%block help_header%}
System status help
{%endblock%}
{%block help_body%}
<p>Help about system status…</p>
{%endblock%}
